[2017-07-27 15:46] frankspin89 opened #2 "How to implement middleware on networkInterface?"
What is the correct way to implement middleware on the networkInterface?

Normaly I would to something like this

[code]

Not sure how this would work in apollo-module

[2017-07-28 22:52] jvbianchi commented on #2
I'm having the same problem

[2017-07-28 23:02] jvbianchi opened #3 "How to create a BatchingNetworkInterface?"
The current implementation uses the `createNetworkInterface` to create a normal NetworkInterface (which is fine in most cases).

But if we want to use [query batching](http://dev.apollodata.com/core/network.html#query-batching), we have to create a BatchingNetworkInterface (using `createBatchingNetworkInterface` as in [this example](http://dev.apollodata.com/core/network.html#BatchingExample).

Ho

[2017-08-03 09:22] Atinux commented on #3
Should work now with 1.0 :)

See udpated README!

[2017-08-03 09:22] #3 closed

[2017-08-03 09:22] Atinux commented on #2
Should work now with 1.0 :)

See udpated README!

[2017-08-03 09:22] #2 closed

[2017-08-03 14:49] RSchwan opened #4 "$apollo undefined in context.app"
If i try to use apollo in `fetch` or `asyncData`, `$apollo` is not defined in `context.app`:
[code]
For now I use this work around but I'm just curious why `$apollo` isn't defined.
[code]

[2017-08-03 16:34] bjunc opened #5 "Authorization"
In the times I've used vanilla Apollo, I pass an Authorization header via the network interface `opts`.  This is how the API authorizes graphql access.  I can do that using Nuxt, but I've only gotten as far as hardcoding the token into `nuxt.config.js` in my initial R&D.  For instance:

[code]
So I guess my question is two-fold:

1. Server-side, how can I dynamically set the network interface opti

[2017-08-04 17:17] bjunc commented on #5
After some more digging on this, I tried a few different options, all of which were dead ends.

I was able to apply a middleware to an Apollo client anywhere `context` is available.  Here is an example within middleware:

[code]

The problem with this, is that it seems middleware only runs on the server, which is fine for the initial request, but further requests that happen on the browser no long

[2017-08-05 09:53] frankspin89 opened #6 "Get store in network-interfaces/default.js"
I have the following network-interfaces/default.js file

[code]

How can I call the vuex store context here? So I can set the Bearer  token from the vuex store

I use the nuxtServerInit function to set the token to the store

[code]

[2017-08-05 09:59] frankspin89 commented on #5
@bjunc Think we can help each other. I only do authorization to the token on the client side at the moment.

Now trying out a setup where I use the vuex store to set/get the token. Because it's available on both the client/server. You can follow the progress here: https://github.com/nuxt-community/apollo-module/issues/6

[2017-08-05 14:00] bjunc commented on #5
Hey @frankspin89 happy to share what I've done so far with this.  Maybe we can help each other. A little context:

Prior to trying the Apollo module (or even the Vue-Apollo plugin), I was able to get this to work with Vanilla Apollo and Nuxt. I used a middleware, which would instantiate an Apollo client (made available throughout the app via setting `context.app.apolloClient` vs this module's conv

[2017-08-07 07:24] YoungLeeNENU opened #7 "can't connect to chrome apollo dev tools"
It seems there is not a way to connectToDevTools when using nuxtjs@apollo

[2017-08-08 10:11] Samuell1 commented on #6
I have same issue, i founded temp workaround to get it from localStorage

[2017-08-08 10:50] frankspin89 commented on #6
The problem is that localStorage is not available on the server side. So only client-side queries are authenticated with the Bearer token.

[2017-08-08 14:29] greenkeeper[bot] opened #8 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-08-09 09:51] #8 closed

[2017-08-09 10:03] nyl-auster opened #9 "Apollo results not rendered on server side and "fetch" method not found"
Hello, i can't manage to get my page server side rendered with apollo. Here is my code :
https://github.com/nyl-auster/drupal-nuxt-graphql/blob/apollo-ssr-error/pages/blog.vue
and the result : https://komuneco-tkdiaupxhr.now.sh/blog

When using "prefetch:true", i got a fatal error saying "fetch" is not found

[2017-08-10 13:58] Nainterceptor opened #11 "Store cache issue"
Hello,

I have an issue, when I have routes with nuxt child, I've a cache fail on parent routes. You can see the issue here : https://github.com/Nainterceptor/nuxt.js/tree/issue/store-cache/examples/vue-apollo (or live in https://nuxt-vue-apollo-elszaxsupq.now.sh).

I'm on the homepage, I click on a car, I refresh, then I click on another car, the main list disappear.

I'm trying to find the issue

[2017-08-11 08:44] nyl-auster commented on #9
Closing, this is a duplicate of this pull request : https://github.com/nuxt-community/apollo-module/pull/10

[2017-08-11 08:44] #9 closed

[2017-08-11 09:30] Samuell1 commented on #6
@frankspin89 yes, but i think now is not other solution

[2017-08-11 09:34] Samuell1 commented on #4
Hey, you can use apollo object

Like here: https://github.com/nuxt/nuxt.js/blob/dev/examples/vue-apollo/pages/index.vue
[code]

[2017-08-11 09:38] RSchwan commented on #4
The problem is that I use Vuex and I populate my store in the fetch method.

[2017-08-12 23:39] dre1080 opened #12 "How to add custom options to ApolloClient"
Is it possible to add custom options to ApolloClient such as [`queryDeduplication`](http://dev.apollodata.com/core/network.html#query-deduplication)?

[2017-08-13 23:10] jamilabreu commented on #12
similarly as a heads up, replacing `createNetworkInterface` with `createBatchingNetworkInterface` seems to break things:

[code]

[2017-08-17 03:41] dohomi opened #13 "add store or other SSR context to "prefetch""
Hello,

It would be great if `prefetch` will get the SSR context of Nuxt, for example the `store`. I have for example the language of a document saved as `store.state.languageKey`and would like to prefetch this state variable. Would this be somehow possible?
Thanks

[2017-08-17 07:45] dohomi commented on #5
Not sure if this is the right approach but it works for me pretty good:
[code]

[2017-08-17 08:21] dohomi commented on #6
@frankspin89 I did it in following way: https://github.com/nuxt-community/apollo-module/issues/5#issuecomment-322994904

[2017-08-17 15:01] bjunc commented on #12
Also, check out our discussion regarding auth headers in #5.  The TL;DR is using a Nuxt middleware to tap into the Apollo middleware.

[2017-08-17 15:02] bjunc commented on #5
Yeah, that's basically where I settled with my implementation.  Only difference is that I didn't use `nuxtServerInit`.  Rather, in my middleware, I check `if (context.isServer)`, and grab from the cookie there.  I think it'd be better to use `nuxtServerInit` if you were making a shareable middleware, that was less opinionated on where the token comes from.  In my case, for my apps, I am sticking w

[2017-08-18 02:11] dohomi commented on #5
@bjunc I have to admit that I haven't done enough testing: the edge starts with following use-case: page-reload on a page where authentication is necessary. The initial request will have the correct credentials because the middleware applied the apollo network middleware with the store value. But now, if the client will do some action (for example search) then the client of $apollo does not have t

[2017-08-18 05:14] bjunc commented on #5
The above scenario shouldn't be a problem.  Yes, the Apollo middleware is _applied_ on the server, but the Nuxt (and Apollo) middleware will continue to run for subsequent server and browser requests.  Since the token is referencing the store, you can even swap the token in the browser and it'd still work.

It sounds like I should probably post up a repo to show how I have it set up, but here's a

[2017-08-20 20:22] ndarilek opened #15 ""Network error: fetch is not defined" running example from Nuxt repository"
Changed into the examples/vue-apollo directory, ran:

[code]

Visited http://localhost:3000, and received this error.

I don't know if this is the best/correct solution, but when I set up Apollo without this plugin, I had to add the isomorphic-fetch package and run:

[code]

to define a `fetch` global. I'm not sure if doing this globally is the right way, but as of now the example isn't working, s

[2017-08-21 00:31] dohomi commented on #5
@bjunc thanks for your code snippet. I do basically the same but realized one drawback: do a page reload on a page where u call the middleware. Now do a client side call to your graphql backend ( I do this through a client side search to filter data ). You will realize that the client side search won't have the middleware applied and thus will be without authenticated token. You will have the toke

[2017-08-21 07:46] dohomi opened #16 "start() finished() loading animation sync with apollo query result"
It would be great if this module could hook the apollo query to the `start(), finished()` function of the global loading component.
[code]

[2017-08-21 15:27] bjunc commented on #5
That's a good point.  In my prototype, I hadn't actually done a GQL request that wasn't part of a page load.

However, I think a simple solution is to move the logic from a Nuxt middleware to a Nuxt plugin.  Unless I am mistaken, the plugin will run for the server and browser, for every request, which will apply the Apollo middleware in both situations.  I was able to literally copy my entire midd

[2017-08-21 17:19] bjunc commented on #5
Here's the plugin's base logic, if you'd rather have the token set outside the plugin (eg. in `nuxtServerInit`).  I left out logic that would bail/throw if `token` and `apolloProvider` didn't exist.

If this works for you, we might want to create a repo for this plugin, and make it a bit more legit.

`~/plugins/apollo-auth.js`
[code]

[2017-08-22 00:59] dohomi commented on #5
@bjunc I just tried your version and moved my code to plugins but then the token is never available on the first SSR request. I guess this happens due to the initial `onServerInit` on the server is running after the first time the plugin is being called. I modified your snippet that it works for me like following:
[code]

[2017-08-22 15:46] bjunc commented on #5
@dohomi My snippet doesn't include the token extraction in an effort to decouple the Apollo auth from the session logic. If you're building the plugin only for yourself, then I don't think it'd hurt to bundle them together (as you've done, and even I did at first).  However, if you break them apart, they would be more modular/flexible.  For instance, if you also wanted to run Axios, and use the to

[2017-08-23 00:12] dohomi commented on #5
@bjunc sounds good. I'm quite happy with the solution now, there should be probably some source on the main README.md about some best practices for new users

[2017-08-24 08:26] #13 closed

[2017-08-24 08:29] Atinux commented on #15
Fixed with #10

[2017-08-24 08:29] #15 closed

[2017-08-24 08:37] Atinux commented on #16
Hi @dohomi

Does this code works when you implemented it?

[2017-08-24 08:37] #12 closed

[2017-08-24 13:43] bjunc commented on #5
@dohomi Yeah, probably so.  I think I'm happy with this approach too.  If I get some time over the weekend, I'll pull together an example repo with a plugin for Apollo auth and session management.

Out of curiosity, what are you calling your session cookie?  I've been using `UJSSESSID` which follows the `PHPSESSID` convention.

[2017-08-25 00:27] dohomi commented on #5
I use this ( I think originally from some example I found ):
[code]

[2017-08-25 00:30] dohomi commented on #16
@Atinux no it does not work. The problem is, that the routing already calls start() and finish() before the `watchLoading` hook is being called. And somehow (I don't know the reason) the call of
[code]
Is not doing any thing at all.

[2017-08-25 07:03] t0ker commented on #5
Would love to see a example :)

[2017-08-25 11:01] Samuell1 commented on #6
I founded solution https://github.com/Samuell1/apollo-module/tree/get-store-in-networkinterface

then simply in network interface get params:
[code]

[2017-08-25 13:35] bjunc commented on #5
@t0ker I'll create an example that uses both a session plugin (for extracting the token from an HTTP Only cookie I call `UJSSESSID`) and an Apollo auth plugin (mostly shown above).  Hopefully over the weekend.

[2017-08-25 19:11] ndarilek opened #17 "window.__NUXT__.apollo is undefined"
Getting this error attempting to use this module on an app built with `nuxt generate`. No initial state is available.

With this line:
[code]
What happens when no initial state is available? How would I tell my client that I don't have an initial state payload for it?

[2017-08-28 02:44] dohomi commented on #6
I added a PR which will change the behaviour like @Samuell1 suggesting in his PR: https://github.com/nuxt-community/apollo-module/pull/18

[2017-08-29 08:23] nyl-auster opened #19 "Server Side rendering : "You must wrap the query string in a "gql" tag""
Hello ! Apollo is amazing with Vue.js et Nuxt.js, thanks so much @Akryum and @Atinux !
But i have a stranger error on SSR : this throw a 500 error on production server : https://yineo-website-xzfiffgbwg.now.sh/

BUT if work if you go first to contact page, and let client rendered the homepage : https://yineo-website-xzfiffgbwg.now.sh/contact

here is my apollo call :
[code]

for whatever reason, i

[2017-08-29 10:44] #19 closed

[2017-08-29 11:08] Atinux commented on #17
Actually should always have a state, I generated a website with it and it works fine

[2017-08-29 11:08] #17 closed

[2017-08-30 00:24] dohomi commented on #6
I think this issue is resolved in v2.0

[2017-08-30 00:26] dohomi commented on #5
@bjunc I think this issue is resolved. In v2.0 you export a function which holds the whole context as first argument. This is a superset of all our discussions we had earlier

[2017-08-30 00:28] dohomi commented on #4
@RSchwan you can still do this:
[code]
Does this resolve your issue?

[2017-08-30 01:40] dohomi opened #23 "store.state is false on client refresh in v2.0 networkInterface default function"
@Atinux thanks for merging my PR but it seems to not work properly:
[code]
The network interface is missing the store states on `isServer===false`.

This brings me to a general question: how is Vuex supposed to work? If users commit a Vuex store state on server side, should the Vuex state be present on client side as well? I think the plugin/module behaviour might miss to persist the correct Vuex

[2017-08-30 01:50] dohomi opened #24 "TypeError: Cannot read property 'Ctor' of undefined"
After update to v2.0 and Nuxt .rc7 I receive the following error on page reload on server side:
[code]
the page still loads and seems to work.

[2017-08-30 20:11] RSchwan commented on #4
Not really. The nice thing about the fetch method is that you get the loading indicator for free and you are guaranteed that the data is 100% loaded.

[2017-08-31 00:42] dohomi commented on #4
@RSchwan the prefetch:true is making sure that from SSR everything will be fetched. for loading indicators you can use:
[code]
to hook the global spinner you can follow this issue: https://github.com/nuxt-community/apollo-module/issues/16

[2017-08-31 00:50] dohomi commented on #24
The error disappeared after cleaning up node_modules

[2017-08-31 00:50] #24 closed

[2017-08-31 05:41] lyquocnam opened #25 "Error: 'Schema must be an instance of GraphQLSchema' - When connect with ApolloServer"
i try to use with apollo server and do as the tutorials.
http://dev.apollodata.com/tools/apollo-server/index.html

it work fine until add `apollo-module`, the error happend.

my Project https://github.com/lyquocnam/simple
[code]

[2017-08-31 08:27] Atinux commented on #23
Hi @dohomi

With the new release of Nuxt.js, the store replace state has been moved after plugins calls, see https://github.com/whtsky/nuxt.js/blob/add2bcb89fdaa4b366694a04b2cc95c8a11cad33/lib/app/index.js#L147

What you can do on client side is to read `window.__NUXT__.state.authToken`

[2017-08-31 08:27] #23 closed

[2017-08-31 22:37] nyl-auster commented on #4
same question here. I had to do a first query to get an id, then a second request depending on this id, i'm not sure that i can do this with "apollo" component key.

Calling $apollo manually in asyncData seems the easiest way, am i wrong ?

[2017-08-31 22:54] nyl-auster commented on #4
Here is how i did for now :
[code]

[2017-09-01 00:35] dohomi commented on #23
@Atinux Thanks works great!

[2017-09-01 07:28] Samuell1 commented on #4
Why you dont use it like this? https://github.com/Samuell1/vue.sk/blob/master/pages/_code/index.vue#L47

[2017-09-01 07:37] nyl-auster commented on #4
@Samuell1 that's what i do when there is one request (like here  : https://github.com/nyl-auster/yineo-nuxt-wordpress/blob/8f68a0de6234be74bb072036a760520e0ac56c20/pages/blog/index.vue#L25 ) , but in above example, I have two requests, the second depending on the result of the first.

I don't know how to do this inside an "apollo" key

Hope we understand each other, not easy to explain :-p

[2017-09-01 12:40] Fir3st commented on #25
I had same problem, the solution is you have to install the same version of graphql that is required by dependencies (e.g. apollo-client requires version 0.10.50, but you have higher/lower, so you have to install exactly the same version).

[2017-09-02 02:11] lyquocnam commented on #25
Is `yarn add apollo-client` right @Fir3st  ?

[2017-09-02 02:18] lyquocnam opened #26 "Can use apollo in vuex ?"
Can use apollo in vuex ?

[2017-09-02 05:51] Fir3st commented on #25
Current version of apollo-client still uses old version of graphql. The easiest way to fix that is install lower version of graphql to your project (you are using 0.11.2, but you need 0.10.5 so just install that version with `yarn add graphql@0.10.5 --dev`).

[2017-09-03 09:53] nyl-auster opened #27 "I don't understand apollo-module SSR behavior"
Hello there !

When you go here AND then click on "blog" page (the first time ) https://yineo-website-rnuhrxdiwf.now.sh/contact
What i get :

1. Loading bar at the top go to 100% loaded, but posts are not yet loaded
2. My blogs posts are displaying "loading"
3. Blog posts appears once pulled by apollo from my GraphQL API server

What i expected :
- Blog posts already rendered as html string by nod

[2017-09-04 14:21] bjunc commented on #5
@dohomi v2 of what, Apollo?

I created an initial repo that serves as an example for updating the Apollo client [Nuxt Apollo Auth](https://github.com/bjunc/nuxt-apollo-auth).  Let me know if this is helpful.  I plan on building this out a bit more, as well as creating another one for session logic.

Somewhat related, I recently started a new project where we are using Nuxt to talk to a Phoenix (El

[2017-09-04 23:01] bjunc commented on #5
@dohomi Just pulled the `2.0.0` update.  Yep, the fact that context is now sent into network interface pretty much negates any need for the plugin since that's what it did.  Kind of wish @Atinux had chimed in on the conversation regarding that update as to not waste everyone's time trying to figure out a workaround, but oh well.

Here's a quick example for anyone else coming in looking for how to

[2017-09-04 23:54] dohomi commented on #5
@bjunc to complete your network interface, keep in mind that on client side the store is called after the plugin based on this discussion: https://github.com/nuxt-community/apollo-module/issues/23

This is my solution which works very good. I abondend the use of NUXT.onServerIntit inside of Vuex because the plugin code is triggered before the initialServerInit function.
[code]

[2017-09-05 00:09] bjunc commented on #5
@dohomi yeah, good call. I realized shortly after I wrote my comment that client calls weren't getting the token set, only server-side calls.  What you did is pretty clever, accessing `__NUXT__.state`, but doesn't that feel a bit dirty?   Almost makes me feel better about doing it the previous plugin way.

Also, not sure if this will help you, but I actually used `serverMiddleware` to handle the t

[2017-09-05 01:04] dohomi commented on #5
sure that example would work as well. I just simply wire up the token handling inside of the network plugin directly, because the only piece of code where the token is needed is that exact location where I apply the middleware. I think you can safely close the issue now - we have many ways to deal with vue-apollo thanks again @Atinux

[2017-09-05 01:05] dohomi commented on #27
@nyl-auster this might be related to https://github.com/nuxt-community/apollo-module/issues/16

[2017-09-05 01:06] dohomi commented on #26
you can always dispatch to Vuex inside of the `result` hook of vue-apollo

[2017-09-05 01:25] #5 closed

[2017-09-05 02:22] lyquocnam commented on #26
@dohomi can you tell me more detail, please

[2017-09-05 06:41] dohomi commented on #26
check out the docs of vue-apollo: https://github.com/Akryum/vue-apollo#advanced-options
there you will find an example about the
[code]

[2017-09-06 05:55] haradakunihiko opened #29 "It does not work with 'spa' mode"
This module does not work with 'spa' mode with the latest version of Nuxt@v1.0.0-rc8.
At a glance, it seems there is no `window.__NUXT__` since it's not rendered on server side. But I'm not sure how to correctly handle this.

https://github.com/nuxt-community/apollo-module/blob/master/plugin.js#L24

Could anyone fix this?

[2017-09-14 15:51] #29 closed

[2017-09-14 15:57] #26 closed

[2017-09-14 16:00] Atinux commented on #16
I see @dohomi

Why not disabling `loading` into your nuxt.js app and use a custom loader that you can start/end with events instead?

BTW, you are contributing well on this module and honestly, I don't use apollo, do you want to be a maintainer of this module?

Please mention me, I have too many Github notifications so it's hard to keep track of them :/

[2017-09-14 16:07] Atinux commented on #7
Fixed with https://github.com/nuxt-community/apollo-module/releases/tag/v2.1.1

[2017-09-14 16:07] #7 closed

[2017-09-14 16:07] #6 closed

[2017-09-15 01:01] dohomi commented on #16
@Atinux sure you can add me as maintainer, I will try my best.

I'm using a global indicator now and it works quite good so far. Will close it for now, maybe if I find a smarter solution I'll re-post it here

[2017-09-15 01:01] #16 closed

[2017-09-15 01:02] dohomi commented on #11
@Nainterceptor you still face this issue?

[2017-09-15 08:26] Atinux commented on #16
@dohomi Welcome to Nuxt Community :D

[2017-09-15 15:08] KosmyninOleksandr commented on #19
I still have this error

[2017-09-15 15:20] KosmyninOleksandr opened #32 "ssr error "You must wrap the query string in a "gql" tag" when use option function"
Issue https://github.com/nuxt-community/apollo-module/issues/19 was closed but I still get this error.

here is example of my call, I need to use function "update" so metadata defined as a function

[code]

[2017-09-18 05:49] dohomi commented on #16
@Atinux OK thanks!

[2017-09-18 05:56] dohomi commented on #32
@KosmyninOleksandr this issue has something to do with vue-apollo, not especially Nuxt module, if your query name differs: apollo[queryName] otherwise you need to use update function.
[code]
The newest version of vue-apollo introduced now the `manual` mode, check it out here: https://github.com/Akryum/vue-apollo#advanced-options

With that there wont be an automatic property update. So as I don't

[2017-09-18 05:56] #32 closed

[2017-09-18 13:39] dohomi commented on #27
Closing this issue for now. Please choose the solution suggested in #16 and use your own loading indicator.

[2017-09-18 13:39] #27 closed

[2017-09-18 13:42] dohomi commented on #4
@RSchwan I will close this issue for now. Use the result hook with `prefetch:true` and it should give you the expected behaviour.

[2017-09-18 13:42] #4 closed

[2017-09-18 13:45] dohomi commented on #11
Closing this issue for now, feel free to open it again in case you are still facing the issue

[2017-09-19 17:50] dfee opened #33 "Custom network interface / subscription strategy with nuxt"
I'm in the process of porting an old React project to Vue, and noticed nuxt. My custom network-interface is a websocket interface that supports subscriptions. When the websocket is terminated, the network-interface re-sends subscriptions to the server.

With the `apollo-module` is it (in-)appropriate to set up a websocket connection to the server where components can `subscribeToMore`?

Should I s

[2017-09-20 04:50] dohomi commented on #33
@dfee when I used subscriptions, I simply removed them to work on the server and run only on the client. So for your usecase I would simply add the subscriptions only on the cient side. Do you have any example code?

[2017-09-20 09:26] Nainterceptor commented on #33
Hello,

I'm looking for a way to work with subscription strategy of vue-apollo & nuxt too.

Code sample :
[code]

Here, when SSR is loading the network interface, error message  is triggered, because WebSocket is not available server-side. I've tried to use third parameter of "SubscriptionClient" with alternative websocket client but without success for now. I've tried to use "isClient" to switch

[2017-09-25 00:25] dohomi commented on #33
@Nainterceptor change your code that networkInterfaceWithSubscription only runs on client side:
[code]
You can also try adding `ws` and import it, but for me this did not work. I only use subscriptions after the client loads

[2017-09-26 15:19] dohomi opened #34 "best practice to use apollo inside of Vuex"
@Akryum @Atinux do you guys have an idea what would be the best practice to attach `$apollo` or `apolloProvider` to Vuex and make it accessible inside of actions? Would be great to be able doing:

[code]

Any thought how to do this with this module?

[2017-09-28 15:28] nyl-auster commented on #27
There are still two questions i'm not sure about

[2017-09-29 00:12] dohomi commented on #27
@nyl-auster if you are using `prefetch` statement of vue-apollo then your query will be handled on the server and thus the initial render will have the $apollo values present.

You will bump into server/client hydration error if the server and client differs. If not, then your code should have been rendered correctly

[2017-09-29 09:28] nyl-auster commented on #27
@dohomi yes you are right, i edited my first post : it is the normal behavior i guess that posts are loaded "on demand" when you came from another page. So the only issue is actually the loading indicator as you described it here https://github.com/nuxt-community/apollo-module/issues/16

[2017-10-02 00:25] dohomi commented on #27
@nyl-auster you need to wire up your own loading indicator because the official Nuxt loading depends on routing. If you have any more issues please open a separate issue.

[2017-10-09 06:28] minibikini opened #35 "Validate GraphQL response before render"
Hello, thanks for module!

I have a question: is there a way to validate apollo response before render?

I have a page `/pages/users/_username.vue` and I want to render proper Not Found page along with 404 status code if username is not found (when graphql returns null).

Currently I have to something like this:

[code]

It'd be great to handle graphql response in the same way nuxt's `validate` ho

[2017-10-09 15:02] Nainterceptor commented on #33
It's not working here, because when SubscriptionClient is instanciated, I've the error "Unable to find native implementation, or alternative implementation for WebSocket!"

Seems to be better with something like following

[code]

But at this step I'm reminding that I've another issue, I will continue my investigation

[2017-10-10 13:13] Nainterceptor commented on #33
With the previous snippet, I've an error that I've not successfully solved : `[nuxt] Error while initializing app
TypeError: Object(...) is not a function`

:'(

[2017-10-11 04:18] dohomi commented on #35
@minibikini how about redirect the user with
[code]

[2017-10-12 21:28] bjunc opened #36 "Multiple clients results in Duplicate declaration "networkInterface""
It looks like the use of `let networkInterface` and `const opts` will throw errors if there is more than one client assigned.  They either need to be wrapped in a block (to isolate scope), or use `var` (quick fix to get it working again).

[2017-10-13 00:13] dohomi commented on #36
@bjunc I don't have a usecase for mutliple clients. can you open a PR for this? Thanks!

[2017-10-13 12:32] bjunc commented on #36
@dohomi happy to submit a tweak that I think should make it work.

FYI, my particular use-case is that I am connecting to an GraphQL server over both HTTP for conventional request/response, as well as through a socket for pubsub.  It would be nice to be able to only run the socket (negating the need for two network interfaces), but I had problems running the socket libs server-side (I think one of

[2017-10-13 15:26] bjunc commented on #36
@dohomi just a heads up, but I'm having a hard time connecting a socket with `v2.1+`.  I was able to get it working with `v2.0.0`.  For some reason, `2.0.0` isn't using `HTTPFetchNetworkInterface`, whereas `v2.1+` is.  In that event, the socket connection info gets overwritten.  Both `2.0.0` and `2.1.1` have issues with multiple clients, but since they're slightly different logic, I need to figure

[2017-10-16 00:37] dohomi commented on #36
@bjunc Ok let me know if you have any further questions. I use 2.1.1 with one client and graph.cool backend without any issues. there were only very few differences from 2.0.0 => 2.1.1 but lets get this working for you

[2017-10-16 02:29] dohomi commented on #33
@Nainterceptor could you solve the issue yet?

[2017-10-16 13:01] Nainterceptor commented on #33
Hello, I don't understood the origin of this issue, so I've not fixed this one for now. Then I've some other issues with apollo itself (to handle role-based subscriptions). So... I'm in standby...

As a reference, I'm talking about https://github.com/apollographql/subscriptions-transport-ws/issues/270

[2017-10-16 14:09] Nainterceptor commented on #11
Hello, issue still here, I've updated the now.sh link, steps to reproduce are the same.

[2017-10-16 14:10] Nainterceptor commented on #11
@dohomi I'm not able to reopen this issue, can you do it ?
Thanks

[2017-10-16 20:28] bjunc commented on #36
@dohomi thanks.  I think the 2.0.0 vs 2.1.1 issue might have had more to do with Apollo, than this module.  Hard to tell sometimes with so many nested dependencies.  I ended up building my own network interface, which solved that problem ([phoenix websocket network interface](https://github.com/bjunc/phoenix-websocket-network-interface)).  Ultimately, that allowed me to use one socket based networ

[2017-10-16 23:39] dohomi commented on #36
@bjunc great news that it worked out for you. Soon apollo v2 is going to be released, I guess there will be some refactoring needed as well

[2017-10-16 23:39] #36 closed

[2017-10-16 23:41] dohomi commented on #11
@Nainterceptor is it possible that your issue is related to this issue: https://github.com/Akryum/vue-apollo/issues/127

[2017-10-18 18:27] Nainterceptor commented on #11
Possible, I'll try your workaround tomorrow, thanks

[2017-10-19 15:43] Nainterceptor commented on #11
I've tried to do check if I've a timing issue like you, but in the following exemple, when the list is missing, result is just not called. So seems to be a different issue.

[code]

[2017-10-20 00:52] dohomi commented on #11
@Nainterceptor you better of asking this in the official `vue-apollo` package. The issue you are facing seems to be some generic SSR apollo caching issue

[2017-10-30 00:36] dohomi opened #38 "compatibility branch for vue-apollo 3.x"
Need to work on a compatibility version for vue-apollo 3.x and apollo-client 2.x

@Akryum it would be great to catch up on this issue together. Thanks!

[2017-11-01 11:37] Akryum commented on #38
The main difference would be that there is no longer a network interface. We should probably expect an Apollo Link and an Apollo Cache objects from the module user.

[2017-11-02 17:50] ndarilek commented on #34
Would appreciate some guidance on this as well. Maybe create the store manually, creating modules in a function, and passing the store into that function? Alternatively, it'd be nice if:

`import client from '~/apollo/clients/default'`

or something similar pulled in that particular named client.

[2017-11-02 19:31] Akryum commented on #34
See https://github.com/Akryum/vue-apollo/issues/140

[2017-11-03 02:30] Hendrixer commented on #38
@Akryum not rushing, but asking for an update. I need this for a project and have no problem updating it myself. But if you're about to release the update in the next day or so, I can wait.

[2017-11-03 07:45] dohomi commented on #38
@Hendrixer any PR is welcome. I haven't got the time yet to work on it

[2017-11-03 08:08] Hendrixer commented on #38
@dohomi PR is up #39

[2017-11-07 22:53] ndarilek opened #40 "Seeking debugging advice"
Hitting a very strange issue and am seeking advice on how to debug this. I'm creating a network interface like so:

[code]

This function definitely gets called and returns an interface, but my requests are sent over HTTP to a /graphql endpoint on 3000 rather than to the Phoenix websocket at /socket on port 4000. Further, when I do:

[code]

in a component, I see a network interface with /graphql

[2017-11-07 23:37] ndarilek commented on #40
FWIW, pretty sure I'm hitting [this issue](https://github.com/vic/apollo-phoenix-websocket/issues/26), so what I'm experiencing here isn't a problem in this module. But I'd definitely be interested in how to debug templated code like this, and as there isn't an easily found support channel for the Nuxt ecosystem, I'm asking here. Sorry if that isn't correct on my part.

[2017-11-08 01:58] #38 closed

[2017-11-08 02:31] dohomi commented on #33
We just published v3 of this module. I will close this issue due to inactivity, a lot has changed in apollo-client please open a new issue if there are still issues.

[2017-11-08 02:31] #33 closed

[2017-11-08 02:33] dohomi commented on #11
@Nainterceptor can you check it with upgraded v3 of this module? Please make sure to read the upgrade-guide.

[2017-11-08 02:34] #11 closed

[2017-11-08 02:38] dohomi commented on #35
I will close this issue due to inactivity. Personally I think its part of `vue-apollo` rather than this repo to provide guidance on your issue. Maybe you can even make use of Nuxt validate functionality

[2017-11-08 02:38] #35 closed

[2017-11-08 02:40] dohomi commented on #40
@ndarilek please upgrade to the newest version of this module which makes use of apollo-client v2. I think you will find the best support in the apollo-client community thus this package is just a wrapper to provide their functionality as an easy integration into Nuxt

[2017-11-08 02:40] #40 closed

[2017-11-08 04:44] dfee commented on #33
@dohomi great work pushing this forward to apollo v2 support. Cheers!

[2017-11-09 21:52] Nainterceptor commented on #11
Hello, FYI, issue still here after migrated, I'll report bug to vue-apollo.

[2017-11-12 06:22] ciscorn opened #42 "Unable to use Nuxt's error/redirect functionality when a query failed"
I want to call the `context.error({...})` to show the Nuxt's error page when a query failed (Item not found, etc.).

In `asyncData(context) {...}`, we can easily do that as `context` is always given.

However inside vue-apollo's smart queries, I can't find a way to access the `error()`

<div align="right"><sub><em>This feature request is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> co

[2017-11-12 21:50] ciscorn commented on #42
I just found that I can access the `error` function via `this.$root` in server-side.

Is it the right (or stable) way?

[code]

[2017-11-13 00:39] dohomi commented on #42
Hi @ciscorn

I think there are several ways of doing it. I prefer to redirect the user inside of the result hook. But your way is also a possible way of doing it

[2017-11-13 05:40] ciscorn commented on #42
@dohomi I noticed that my code above (and your suggestion) doesn't work in SSR because the `result` and `error` handler are evaluated after SSR has done.

[2017-11-13 05:42] dohomi commented on #42
@ciscorn yes we discovered this. Its something you can track inside of vue-apollo it has not necessary something todo with this package.

Try wrap your code in
[code]

[2017-11-13 05:44] dohomi commented on #42
Sorry I think I misread your question. Maybe @Akryum has a good idea how to solve this, I always wait for the result and then redirect the user to error pages

[2017-11-13 06:01] ciscorn commented on #42
@dohomi Thanks. I think something (such as `prefetchResult` handler) should be implemented on vue-apollo to serve real 404/302 pages in SSR.

[2017-11-13 06:09] dohomi commented on #42
@ciscorn please open an issue inside of `vue-apollo` package. This package just supersets the usage of vue-apollo and will not add any features to extend vue-apollo

[2017-11-14 05:03] lolcoolkat opened #43 "Can an example be made for Nuxt with subscriptions?"
Can someone please make an official example using subscriptions with the new v3 :)

Can't seem to get it working with v2.1.1 :( Thank you

[2017-11-20 06:55] ciscorn commented on #42
Please ignore if this is irreverent.

I created a modified version of apollo-module just for testing.

https://github.com/ciscorn/apollo-explicit-module

It solves the error/redirect problem and a (potential) concurrency problem without any modifications of Nuxt and vue-apollo. (However it introduces breaking changes.)

Please read a brief explanation in my README.md.

[2017-11-20 08:04] dohomi commented on #42
@ciscorn what happens if you use:
[code]
with this package? I do this on some parts and had no issues so far.

[2017-11-20 08:45] ciscorn commented on #42
@dohomi @Akryum

Nuxt.js has a built-in functionality to return 404/403/302/301 responses with `context.error(...)` and `context.redirect(...)`. However in the original `@nuxtjs/apollo`, prefetching is performed after the Nuxt has finished checking the error/redirect flags, so the Nuxt's `context.error` doesn't work with apollo-module.

(I think #35 is a bit related to the same problem.)

Using my

[2017-11-20 11:30] apmontgomery opened #44 "compatibility with nuxt Generate?"
Is apollo-module compatible with generate?  When I run generate, I get the following with `Error: ENOENT: no such file or directory, lstat '/Users/Alex/Sites/temp/nuxtlotest/dist/index.html`.

[code]

[2017-11-21 00:44] dohomi commented on #44
@apmontgomery vue-apollo is used on the component side where you should not see any issues on the rendered app. But: how does your code looks to generate each page? Because the generator runs on the server, you could use `graphql-request` if you need graphql on the server side to generate your pages - it might be easier to use.

[2017-11-21 00:45] dohomi commented on #43
@lolcoolkat your question should be better posted in https://github.com/Akryum/vue-apollo, this package is just the wrapper for vue-apollo code

[2017-11-21 00:54] dohomi commented on #42
@ciscorn ok I understand now better. @Akryum what do you think about this approach?

[2017-11-21 00:56] dohomi commented on #43
Personally I don't use subscriptions but happy if someone would provide some code to extend the README

[2017-11-21 05:24] apmontgomery commented on #44
Thanks @dohomi. Then maybe I’ve found a bug. The generate command will not complete when set up as documented. I’ll post a repo with the code shortly.

[2017-11-21 06:28] apmontgomery commented on #44
Here is a repo demonstrating the problem:
https://github.com/apmontgomery/nuxt-apollo-generate-error
After installing as documented, generate command fails to generate an index.html.  Note that I am not using apollo-nuxt to pull any content server side.
Any suggestions would be much appreciated. :)

[2017-11-21 06:52] dohomi commented on #44
ok strange. @Atinux @alexchopin do you have any idea what could cause this error? I never used generate command but seems that something breaks when the package is applied

[2017-11-21 07:33] apmontgomery commented on #44
maybe a separate issue, but it also appears that these dependencies should be included in the module:
    graphql
    graphql-tag
    apollo-link-http

[2017-11-22 13:37] dohomi commented on #44
this dependency will raise depends how and what kind of implementation you are using. I'd rather keep it to the dev who is writing his own config which might be from usecase to usecase different

[2017-11-25 07:37] kieusonlam opened #45 "These dependencies were not found"
I have error when try `apollo-module`. Here is my full error

[code]

Any idea?

By the way, I'm using Windows 10 - Node 8.9.1

[2017-11-26 02:46] #45 closed

[2017-11-27 16:02] kieusonlam opened #46 "Question about set auth token"
Hi, maybe it is a dummie question, but I need your help :(

I'm looking for best practicing about set rauth token to use with nuxt. How to do it right?

Here is my login method

[code]
My store
[code]
and my Apollo config
[code]

[2017-11-28 04:16] kieusonlam commented on #5
Sorry, I have a dummie question. How did you guys set the token into req.session in Nuxt?

[2017-11-28 06:12] #46 closed

[2017-11-28 15:59] bjunc commented on #5
@kieusonlam the example above should get you most of the way there.  The JWT is initially assigned to an `HttpOnly` cookie (upon successful authentication), which is extracted and assigned to `req.session` in a server middleware for every server request.  If the cookie doesn't exist, then it's assumed the user is not authenticated.  In your Vuex store`nuxtServerInit`, you have access to `req.sessi

[2017-12-01 07:43] abattenburg commented on #45
@kieusonlam Can you tell me how you solved this? I'm running into the same issue when trying to upgrade to 3.0.

[2017-12-01 07:47] kieusonlam commented on #45
@abattenburg You have to install dependencies by your own. You can run
`npm install --save apollo-link-http graphql`
and it should be work.

[2017-12-02 00:30] willis2342 commented on #33
As far as I can tell, this is still an issue. I pulled the dev branch today and I'm receiving the same error that @Nainterceptor received ```[nuxt] Error while initializing app TypeError: Object(...) is not a function```

[2017-12-05 13:57] samirph opened #47 "Response headers and request session are never accessible at the same time"
When I receive a response through apollo, I can access `response.headers.get('refreshToken')` to get my server token.

But it seems to be accessible on client-side only, I have to add
[code]
`req.session` however, seems to be accessible only on server-side.
Is it not possible to store tokens received on `response.headers` inside `req.session`?

[2017-12-06 02:36] samirph commented on #47
Maybe I'm doing something wrong.
I just want req.session to store the user token after login, so it is able to persist on page refresh and be accessible on page fetch method (like in here https://nuxtjs.org/api/pages-fetch/)

Couldn't figure out another way to check user authorization in protected pages before they are loaded and shown to the user.

[2017-12-06 02:43] dohomi commented on #47
@samirph then use vuex and localstorage to persist the token. one question: do you develop an app where your have a user-login and then you want to submit the token for the grapql requests based on that token?

[2017-12-06 06:45] leveloid opened #48 "Official example out of date"
Not 100% sure, but it appears the "Official Example" linked in the README is out of date:

https://github.com/nuxt/nuxt.js/tree/dev/examples/vue-apollo

[2017-12-06 07:56] dohomi commented on #48
@leveloid can you open an issue on the https://github.com/nuxt/nuxt.js repo as the code example there is out of date. Thanks!

[2017-12-06 07:56] #48 closed

[2017-12-06 10:44] samirph commented on #47
Yes, once the user logs in, his token will be sent along in every graphql request.

These nuxt docs recomend to use fetch for route authentication (https://nuxtjs.org/examples/auth-routes/), but localstorage and cookies don't seem to be accessible in that method. Even though vuex is accessible there, it doesn't persist, so even if the user has a valid token in localstorage, he would be redirected

[2017-12-06 12:59] dohomi commented on #47
be aware: if you have user-login to show authenticated pages, then don't make the mistake to persist that token on the server! otherwise all upcoming requests are permitted as well. Its crucial that every login attempt only happens on the client side, and only wired down via vuex to the server if needed. this is why in all fetch/async or plugins you can access the store state in the req property.

[2017-12-06 13:23] samirph commented on #47
So you are saying I should directly store tokens on the client side when I get an apollo response?
And then, authentication can only be verified once the page is created and displayed to the user?

It is confusing, since this apollo-module docs tells me to get the token stored in the session like this
[code]
And nuxt route auth example in the docs (https://nuxtjs.org/examples/auth-routes/) uses a

[2017-12-06 16:11] dohomi commented on #47
You need to adjust it to your usecase. Sometimes you want that your token is available on server side as well.. sometimes not. If you are having sensitive data which is only available on the client due to some authentification, then simply don't render the content on the server just render it on the client and save the token in a localStorage.

[2017-12-08 01:03] emilsgulbis commented on #34
+1 for guidance / example for this one!
Can't figure out best approach here, but found that axios is accessible inside of actions and described here.
https://github.com/nuxt-community/axios-module

[2017-12-08 18:17] bjunc commented on #34
You can access the apollo clients in Nuxt Vuex via `this`.  For instance:

[code]

If you wanted to make an Apollo call via a page's `asyncData`, it'd look something like this:

[code]

Notice, in `asyncData`, the `app` is assigned to `context`.  That is not the case in the store.  Worth noting, `app` _is_ assigned to `context` in `nuxtServerInit`.  For example:

[code]

Lastly, to access Apollo c

[2017-12-09 05:01] dohomi commented on #34
@bjunc thanks for this, I will append these examples to the README file!

[2017-12-09 05:19] dohomi commented on #34
I added the information to cover most usecases

[2017-12-09 05:19] #34 closed

[2017-12-09 16:03] bjunc commented on #34
Happy to help :)

[2017-12-10 23:25] abattenburg opened #49 "Can't load .gql files after upgrading."
When following the steps on the readme to upgrade to version 3.0, none of the of my .gql queries load. It instead asks me to install them manually.

I've updated the official Nuxt example and put it in a repository that can be found [here ](https://github.com/abattenburg/Vue-Apollo-Version3.0) to show the issue. If anyone could help me fix my configuration that would be greatly appreciated. I've b

[2017-12-11 00:45] dohomi commented on #49
please read the upgrade instructions. You need to manually add your packages which are independent from this project. Mostly you might miss apollo-link-http, graphql and graphql-tag. Hope this helps

[2017-12-11 01:21] abattenburg commented on #49
Hi @dohomi, thanks for mentioning _graph-tag_. It's not in the readme or referenced in the apollo-client upgrade doc. My reference [repo](https://github.com/abattenburg/Vue-Apollo-Version3.0/blob/master/package.json) does include _apollo-link-http_ and _graphql_ so maybe **graphql-tag** is essential and should be added to the readme?

Thanks again for the help, happy to have this working.

[2017-12-11 04:00] dohomi commented on #49
@abattenburg added it to the README thanks for mentioning it.

[2017-12-11 04:00] #49 closed

[2017-12-17 06:45] gijo-varghese opened #50 "SSR for Graphql Queries"
Hi, I'm new to Nuxt. Below is the code that fetches customer after rendering everything from the client. Can I make it SSR so that the query will be loaded right from the server?

Here is the code that I'm using:
[code]

[2017-12-17 11:55] gijo-varghese commented on #50
Sorry guys. Figured it out my self. Just add `prefetch: true`

[2017-12-17 11:55] #50 closed

[2017-12-19 18:50] samirph opened #51 "Apollo Client 2.0.4 incompatibility or lack of documentation"
My attempt is to use apolloProvider errorHandler method just like in [these docs](https://github.com/Akryum/vue-apollo/tree/next#apolloprovider).
However I keep getting the error

Here is my `apollo/client-configs/default.js`
[code]

[2017-12-19 21:52] dohomi commented on #51
@samirph please follow the instruction we gave in the README. The vue-apollo documentation is only for the usage of the apollo internals, not for setting up the module. This is how an example setup could look like:
[code]

[2017-12-20 10:58] pSchaub commented on #51
This is my current implementation - it works fine on my project. Maybe it will help you.
I use vuex to store the user token.

[code]

[2017-12-20 11:01] pSchaub commented on #46
You can get access to the vuex store through `ctx`:
[code]

[2017-12-20 11:07] pSchaub opened #52 "How to set vue-apollo default settings (e.g. loadingKey)?"
How can we set the vue-apollo default settings, e.g. the `loadingKey`?
See https://github.com/Akryum/vue-apollo#advanced-options

[2017-12-20 13:16] samirph commented on #51
I saw that code before, there is nothing about error handling there.
Still, I finally get that the following sample code from your docs works just like the original `errorHandler`.

[code]

[2017-12-20 13:16] #51 closed

[2017-12-20 14:01] dohomi commented on #52
@pSchaub I guess you can do this in a plugin or middleware where you have the possibility to get the apolloProvider instance:
[code]
This is untested I never used default values

[2017-12-22 09:37] pSchaub opened #53 "Module build failed: Duplicate declaration "client""
nuxt.config.js
[code]

Error:
[code]

![bildschirmfoto von 2017-12-22 10-36-41](https://user-images.githubusercontent.com/11846736/34293173-06e36202-e704-11e7-9ad6-14042e241084.png)

https://github.com/nuxt-community/apollo-module/blob/master/plugin.js#L18

[2017-12-23 09:03] dohomi commented on #53
Might  be connected to this PR: https://github.com/nuxt-community/apollo-module/pull/37

[2017-12-23 18:53] jarnojellesma opened #54 "No client appened to this.$apollo"
I reproduced the error in this repo: https://github.com/jarnojellesma/graphql-experiment/tree/master/client

**nuxt.config:**
[code]

**apollo/client-configs/default:**

[code]

Now the client is supposed to be accessible on the this.$apollo within component methods. But it is undefined:

![imageedit_2_9091224975](https://user-images.githubusercontent.com/27930147/34321941-ea5122ec-e81a-11e7-8f65-

[2017-12-23 19:23] dohomi commented on #54
@jarnojellesma please check the 'Usage' section of the docs. Especially the section https://github.com/nuxt-community/apollo-module#query-on-any-component

[2017-12-23 20:42] rnenjoy commented on #43
Yes this only has the httpLink. How would it look like with a subscription ws link?

https://www.apollographql.com/docs/link/links/ws.html

[2017-12-24 18:35] iamanoctopus opened #55 "Cannot read property 'session' of undefined on production"
Not really sure where to post this, so if there's an existing issue that would be great! Trying to debug this currently. I've basically put my Nuxt/Apollo project onto Now. It works, except it throws me this error:

[code]

which is referring to this line:

[code]

For some reason on a production server it cannot find 'session' - any help here would be appreciated! :) (Merry Christmas!)

[2017-12-25 21:26] dohomi commented on #55
@iamanoctopus ctx.req.session is demo content without any deeper explanation. There are many examples how to persist a token on the nuxt documentation. You either use localStorage or session cookies, depends what suits your app better.

[2017-12-25 23:05] rnenjoy commented on #43
This is my clientDefault config file:

`import { HttpLink } from 'apollo-link-http'
import { InMemoryCache } from 'apollo-cache-inmemory'
import { WebSocketLink } from 'apollo-link-ws'
import { SubscriptionClient } from 'subscriptions-transport-ws'

export default (ctx) => {
  let link = null

  if (ctx.isServer) {
    link = new HttpLink({ uri: 'http://localhost:3000/graphql' })
  } else {
    co

[2017-12-26 16:13] dohomi commented on #43
@rnenjoy does your code work in your application?

[2017-12-26 16:15] rnenjoy commented on #43
Yes dude. Works great! Fixed it last night. Need more help?

[2017-12-26 16:16] dohomi commented on #43
@rnenjoy nope just asking I might extend our README with your ws example so great that you make it work

[2017-12-26 16:17] iamanoctopus commented on #55
Where in the documentation? I am trying to retrieve it from the localStorage now, but localStorage is undefined. 😞 Would be nice to see a working example, just to see where I'm going wrong.

I think I'm missing something here. Thanks for the help anyway. :)

[2017-12-26 16:20] dohomi commented on #43
By the way, here a current example for Angular 2 just in case someone wants to adopt some code: https://alligator.io/angular/graphql-subscriptions/

[2017-12-27 08:22] dohomi commented on #55
check out this example, hope it helps: https://github.com/Akryum/vue-apollo/issues/144

[2018-01-02 17:21] dohomi commented on #43
Example is updated in the README

[2018-01-02 17:21] #43 closed

[2018-01-02 17:23] dohomi commented on #47
I close this issue now because it does not affect this package.

[2018-01-02 17:23] #47 closed

[2018-01-02 17:24] dohomi commented on #55
closing due to inactivity

[2018-01-02 17:24] #55 closed

[2018-01-02 17:24] dohomi commented on #52
closed due to inactivity

[2018-01-02 17:24] #52 closed

[2018-01-02 17:26] dohomi commented on #44
closing this issue due to inactivity. the README got extended for the dependencies

[2018-01-02 17:26] #44 closed

[2018-01-02 21:26] silvio-e commented on #44
I have the same issue with apollo module - no index file gets created. Changed to `graphql-request` as @dohomi suggested which works fine.

[2018-01-03 17:11] Lahori-Jawan opened #56 "Duplicate Result of apollo query"
I integrated the `apollo-module` and every thing is working great but I am facing a weird problem. After I get result, I customize it to meet my need which is working just fine but Each time a `gql` query is executed, it returns the result two times which is causing the end result to appear twice.
![2018-01-03_2144](https://user-images.githubusercontent.com/7579344/34530262-6489139a-f0d0-11e7-86ca

[2018-01-04 07:00] dohomi commented on #56
@Lahori-Jawan this relates to a coding mistake: you set `this.allPosts` inside of a `forEach` loop and as result is executed multiple times you bump into this issue.
Do rather this:
[code]
Be aware that through SSR and other variables result is executed multiple times

[2018-01-04 16:01] Lahori-Jawan commented on #56
Thank you @dohomi  for the solution though its over-writing the previous which might not be what you want depending on scenario so I ended up `watch`ing the posts like this:
[code]
BTW thanks for mentioning the multiple executioning during SSR.

[2018-01-04 16:01] #56 closed

[2018-01-04 16:04] dohomi commented on #56
@Lahori-Jawan up to you I won't do any watching if its not necessary. Thats why you set up the result hook which is only executed once after the data is fetched. Be aware of change detection caveats on Vue if you watch an array: https://vuejs.org/v2/guide/reactivity.html#Change-Detection-Caveats

[2018-01-04 16:07] Lahori-Jawan commented on #56
Thanks. I will switch to `result` hook then.

[2018-01-05 20:45] alidcastano commented on #32
^ Btw, it could also be that you configure the query incorrectly. I encountered this error and just realized I had incorrectly put the `error` option outside of the query and accidently as a prop in the root `apollo` object

[2018-01-08 08:45] pSchaub opened #58 "Fix context deprecations"
1. `context.isServer` is deprecated
[code]

2. `context.isClient` is deprecated
[code]

[2018-01-08 09:03] dohomi commented on #58
Hi @pSchaub thanks for this PR. I am aware of this but as long NUXT does not publish a new version I will wait for that to be merged. Currently in RC11 your change would throw an error if I'm seeing the changes correct.

[2018-01-08 22:14] dohomi commented on #58
Ok thanks nuxt got released today

[2018-01-08 22:14] #58 closed

[2018-01-09 11:35] kieusonlam opened #61 "Unable to find native implementation, or alternative implementation for WebSocket!"
I got this error when follow the guide on readme.
[code]
default.js
[code]

[2018-01-09 20:01] dohomi commented on #61
@kieusonlam you might need some server side websocket implementation. I usually don't use websocket on the server side. Please try this: https://github.com/apollographql/subscriptions-transport-ws/issues/321 If you make it work report back here and I can adjust the README accordingly. Thanks

[2018-01-10 22:03] abattenburg opened #62 "Apollo Queries null after updating to Nuxt 1.0"
I'm currently using apollo-module 3.0.1.

After upgrading to Nuxt 1.0, apollo queries do not work when navigating to new pages and I get an error about queries being null. If I refresh and pull from the server however, the data does come through as expected. This is happening across multiple projects and only fails after using Nuxt 1.0.

Has anyone else run into this issue?

[2018-01-11 01:56] olivermaldonado opened #63 "Reactive queries prefetch cannot depend on component data"
I'm not sure if this is an issue with this module or vue-apollo.

Apparently the prefetch is called twice on server side rendering, first before initiating the component, and then after the component is initialised.

When using a [reactive variables](https://github.com/Akryum/vue-apollo#reactive-parameters) function for the query parameters, the function is called twice during server rendering, th

[2018-01-11 02:31] olivermaldonado commented on #63
Nevermind...

https://github.com/Akryum/vue-apollo#prefetch-components

[2018-01-11 02:31] #63 closed

[2018-01-11 07:22] kieusonlam commented on #61
@dohomi thanks for reply. I not quire sure what should I do because we not use `networkInterface` anymore. And I think we don't need websocket on server side right?

[2018-01-11 08:11] dohomi commented on #62
@abattenburg I would need a repo to help you out here. There hasn't been any breaking change of this package for the past 2-3 months. How does your configuration looks like?

[2018-01-11 11:41] pSchaub commented on #62
@abattenburg Please provide us all your apollo configurations (client config file + nuxt.config.js configuration) and one of your failing queries so we have e better insights what exactly is failing.

[2018-01-11 17:06] dohomi commented on #61
@kieusonlam thats the key. If you dont need them on the server side then wrap the subscription code into a if clause with `process.client`

[2018-01-11 18:07] abattenburg commented on #62
Thanks for the response @dohomi and @pSchaub. Knowing that I was the only one with the issue helped me finally figure it out.

I had forgotten to include `<div v-if "Query">` at the top of all my queries. In the past versions of Nuxt this produced an error but still worked, while with Version 1.0 it fails. Happy to finally know the source of that error over these last 5 months. Thanks for the help

[2018-01-11 18:07] #62 closed

[2018-01-13 02:57] kieusonlam commented on #61
Thanks @dohomi I not try it yet but I think it will be something like this
[code]
I will close this issue from now. 👍

[2018-01-13 02:57] #61 closed

[2018-01-13 04:17] kieusonlam opened #65 "Nuxt 1.1.0 problem"
I update nuxt to 1.1.0 version. And errors showing up :(

[code]

[2018-01-13 12:31] dohomi commented on #65
@Atinux I have issues as well - the compiler can't process *.gql files any longer. Could you point me what changes needs to be done to make this package work with NUXT 1.1.0? Thanks

[2018-01-13 16:49] kieusonlam commented on #65
Nuxt 1.1.1 fixed the problem.

[2018-01-13 16:49] #65 closed

[2018-01-15 18:52] dohomi commented on #53
@pSchaub can you validate if #66 would fix your current problem? We are verifying that PR at the moment

[2018-01-17 18:31] alidcastano opened #68 "queries in nested pages are not reactive"
When both a parent container and a child contain a query, the reactive query for the child is not updated.

Example:

[code]

But if I change the page setup so that the queries aren't nested, it works:

[code]
I think this is due to the fact that the `data` method, which vue-apollo uses, it not called again, only asyncData method is called again when reactive data changes. But I'm not sure why nes

[2018-01-17 18:33] alidcastano commented on #68
Btw ^ the above problem is only present on the client, if I refresh the page it works as expected

[2018-01-17 19:49] alidcastano commented on #68
Figured out the problem.

I had the following template for the `index` child :
[code]
It was a filler template so the route would render so I didn't think it'd be a problem to use `nuxt-child`.

After changing it to this, it works:

[code]

[2018-01-17 19:49] #68 closed

[2018-01-19 00:21] stromi opened #69 "Nuxt generate support for dyamic routes?"
Hi there, this might be a bit project-specific, but is it possible to get **nuxt.js** working with this **apollo** module in terms of dynamic routes generation?

Example (small part of my app – the main question is at the end, but the intro may be useful to read, too, thanks in advance):

I have an app, listing some shops that I get from an API (obviously...) and I list them in `pages/shops/index.

[2018-01-23 23:18] yaki4 opened #70 "Query with union"
Hi,
i've got a query with some union in it and i'm not quite sure how to configurate my client.
I've got a big warning that say : heuristic fragment matching going on!
Do i put my configuration for fragment in my default.js file ?

[2018-01-24 22:08] dohomi commented on #70
@yaki4 do you use *.gql files and there you import the fragments? Do you have any sideeffects or real errors?

[2018-01-24 22:09] dohomi commented on #53
@pSchaub could you review if #66 is solving your issue? Thanks

[2018-01-25 02:26] lukasborawski opened #71 "How to refetch query from asyncData"
So, i have some query fetching from `asyncData`:

[code]

after some actions in the other part of application i would like to refresh this directory, `refetch()` or calling query again from `this.$apollo` in `created` hook, doesn't work ... Any one can help?

[2018-01-25 10:23] dohomi commented on #71
@lukasborawski if you want to use refetch() you have to use .watchQuery() and not .query(). You need to check the example on `vue-apollo` where you have the difference. In fact, if you want to have refresh/search-variables or anything else don't use asyncData, better use the default query way inside of your componoent:
[code]

[2018-01-25 14:03] yaki4 commented on #70
@dohomi yup i use .gql file. For now my query's got the fragment in the same file but i plan to put it in another file.
I've got errors when some type doesn't contains data and big warning when all my data fit my query.

![capture d ecran 2018-01-25 a 09 01 03](https://user-images.githubusercontent.com/1856630/35392062-973de970-01ae-11e8-89a3-8e6f18eb70c7.png)

[2018-01-25 14:25] dohomi commented on #70
@yaki4 try following:
[code]
This is how I did it without any issues yet.

[2018-01-26 09:59] kieusonlam opened #73 "How use vue instance in Apollo Client?"
I want to define a vue instance to use in apollo client.

My plugin look like this:
[code]
Here is my apollo client
[code]
console.log(ctx.app) I still see the $token, but console.log(ctx.app.$token) I got undefined
Why am I doing this?

Even though we use store to get the token on client but `window.__NUXT__.state.auth.token` seem to be not working for me (I still get null token). I have to refre

[2018-01-27 19:32] kedarguy commented on #69
Hey,

Ran in to this when looking for a solution, this is how I did it:

In nuxt .config.js

[code]

[2018-01-28 06:36] stromi commented on #69
@kedarguy thanks for the response, but actually it gets stuck at the first line – it throws an error:
`
Error: Cannot find module 'apollo-fetch'
`

I'm using the **nuxt apollo module** (this repo), so my `nuxt.config.js` is the following (more or less, just the corresponding parts):

[code]

Do you have any idea how to solve this one? :) Thanks in advance!

[2018-01-28 06:57] kedarguy commented on #69
@stromi

looks like you missed the require line

[code]
also make sure you install [apollo-fetch](https://www.npmjs.com/package/apollo-fetch) package from npm

[2018-01-28 11:41] dohomi commented on #73
@kieusonlam can you post your complete setup for the apollo-client? Then I might be able to assist

[2018-01-28 11:46] kieusonlam commented on #73
@dohomi Here is my setup current setup
[code]
Without Nuxt I can do somthing like this
https://github.com/Akryum/vue-apollo/issues/183

[2018-01-28 12:40] dohomi commented on #73
@kieusonlam this is my current setup, I use localstorage and the 'vue-ls' module:
[code]
[code]
Maybe this helps you out. For me only client-side authorization is necessary because of user-restricted pages.

[2018-01-28 14:30] kieusonlam commented on #73
Are you using next for your project? I saw you import Vue from your client setup.

[2018-01-28 15:03] dohomi commented on #73
Yes I use nuxt, this is the apollo-module tailored for nuxt only :-)
I import Vue for the use of `vue-ls` (https://github.com/RobinCK/vue-ls) Its a small wrapper to set/get date for localstorage

[2018-01-28 15:23] kieusonlam commented on #73
I understood your concept. Thanks for your advice!

[2018-01-28 15:23] #73 closed

[2018-01-29 01:56] codeitlikemiley opened #74 "How can i set up the config? im getting Cannot GET /"
This is what i did
add this to my nuxt.config.js
[code]

then create folder apollo/network-interfaces

then create a default.js

[code]

then i did npm install
apollo-link
apollo-link-http
apollo-cache-inmemory

then configure my api endpoint i made with laravel graphql

[code]

[2018-01-29 02:09] codeitlikemiley commented on #74
Im getting this error when i run yarn dev
dont know why but the config is in the correct path
[code]

[2018-01-29 03:17] #74 closed

[2018-01-31 15:03] yaki4 commented on #70
@dohomi : Sorry for the late response.
I've put in place your solution but i still got the same warning for heurisitc fragment matching going on.

[2018-02-01 13:55] alidcastano opened #75 "Is there a way to configure testing client (or of dynamically changing the default client)?"
I know that you can configure multiple clients, but you have to use them differently too (e.g. apollo.clients.defaultClient), so that wouldn't work well for testing.

How are nuxt-apollo users running e2e tests?

The best approach I've been able to consider is dynamically setting all clients to fetch requests from a mock server.

@bjunc  I saw that you opened a PR for multiple clients so maybe you

[2018-02-01 14:35] yaki4 commented on #53
@Dohomi This solution could come really handy and could fix this problem (at least for me)

[2018-02-01 15:44] bjunc commented on #75
If you're using Apollo for request/response (not subscriptions), then testing is basically similar to how axios/REST would be.  Which is to say, similar techniques/strategies would apply.  Mock servers, stubbing, etc..

Personally, I like my e2e to be as close to an actual request/response as possible (even as far as NightWatch/TestCafe/etc, but that's not 100% necessary in my opinion).  I use moc

[2018-02-01 16:22] alidcastano commented on #75
Thanks for the detailed response.

I'd prefer not using an actual API which is why testing is a bit more difficult.

I had more of a mock server in mind. I had tried using nuxt server middleware to return the mock data but ran into a few problems. I didn't consider using an apollo link (and possibly the split functionality) but that definitely seems like the best approach. Thank for pointing me in

[2018-02-01 16:22] #75 closed

[2018-02-01 21:49] jespermb opened #76 "Nuxt apollo subscription 400 (Bad Request)"
I am trying to create a nuxt app using apollo with a graphql subscription, but every time I try to fetch data from the graphql server I get:
Failed to load resource: the server responded with a status of 400 (Bad Request)

I have the same setup in a regular vue app which works perfectly. Both are using vuex for local storage while querying graphql for data.

My store:
[code]
The project subscripti

[2018-02-02 11:54] gijo-varghese opened #77 "Use cookie as a variable for Query in Nuxt"
I'm using https://github.com/S64/vue-universal-cookies to use cookies on both server side and client side. This library works perfectly. However if I use it as a variable in the query, it doesn't work. Any idea?

[code]

[2018-02-05 00:16] dohomi commented on #77
@gijo-varghese I don't use the vue-universal-cookies module. But one take is:
instead of doing prefetch:true you should try to pass your $cookies argument to the app scope of Nuxt and do something like:
[code]
The reason why its not working its the prefetch:true argument as far as I remember. Because on SSR there is no `this` context in prefetch that is why you need to be careful when you use it.

[2018-02-05 00:20] dohomi commented on #76
@jespermb I don't know but this will never work I think:
[code]

[2018-02-05 00:21] gijo-varghese commented on #77
Ok. let me try that

[2018-02-05 01:00] dohomi commented on #53
This should be fixed in v3.0.2

[2018-02-05 01:00] #53 closed

[2018-02-05 01:29] dohomi commented on #70
@yaki4 do you have a repo where I could have a look? I am using fragments for long time without issues.

[2018-02-05 22:41] yaki4 commented on #70
@dohomi : You can find a repo there https://gitlab.com/yaki4/fragment-exemple
I

[2018-02-06 06:38] ralphchristianeclipse opened #78 "prefetch in apollo is dependent on async data"
the problem is when i comment asyncData

prefetching seems not to work

commenting out prefetch seems to work when asyncData is not commented out any ideas?

[code]

[2018-02-06 13:15] yaki4 commented on #70
@dohomi : I add those in hope that will fix the issue. i'll check for the default option.
Do i have to set up the fragment matcher in my config ?

[2018-02-06 20:02] jespermb commented on #76
The reason I am trying to do it this was is that i want to centralize my integrations with graphql and I have other external services which I need to store data from while users are logged in so it would be great to be able to use the store.

I have it working like this on another vue project but I would really love to get the benefits of nuxt.

[2018-02-06 22:28] jespermb commented on #76
I have isolated the issue to be my setup of the apollo client:
[code]

[2018-02-06 23:57] dohomi commented on #76
You need to add a Node implementation for WebSocket if you want to have subscriptions server side. Please check the apollo project itself how to add it or simply wrap your code to add subscriptions only on client.

[2018-02-07 00:01] dohomi commented on #70
@yaki4 not as far as I know, fragments should work simply like this:
[code]

[2018-02-07 01:18] dohomi commented on #78
@ralphchristianeclipse sorry not sure if I understand your question correct. But this.username in variables is only available if you set asyncData. so why not doing:
[code]
then you don't need asyncData any longer

[2018-02-07 12:50] jespermb commented on #76
Thanks,

I am not sure I have the experience to understand how I would do that? :)

[2018-02-07 14:03] yaki4 commented on #70
@dohomi Yeah it doesn't seem to be the case. I'll continue to investigate maybe i made a mistake.

[2018-02-07 22:44] ralphchristianeclipse commented on #78
Hmm so prefetch function return values are params instead of data ?

Gonna try that out later thanks :)

[2018-02-07 23:38] dohomi commented on #78
@ralphchristianeclipse I have no idea how the rest of your app looks like, but {params} of Nuxt is a shorthand for this.$route.params. Check out this page: https://nuxtjs.org/api/context

[2018-02-07 23:42] dohomi commented on #76
@jespermb check out this comments: https://github.com/apollographql/subscriptions-transport-ws/issues/321
You basically need to add 'ws' on server side or you wrap your subscription code depending to run only on client
[code]

[2018-02-08 18:42] abattenburg opened #79 "Accessing middleware in Vuex"
I know this has been covered previously (#5 for instance), but what is the current best practice to access tokens set in middleware? Using the readme example for creating middleware, how do I access the token? For instance in:

[code]

Should I still access the token with req.session like below? I
[code]

Or with Apolo Module 3 is their now a new way of accessing the token? When I console.log the

[2018-02-09 02:14] dohomi commented on #79
@abattenburg you can try using a middleware like this:
[code]

[2018-02-09 07:58] kieusonlam commented on #79
@abattenburg I think I know what are you missing. I have a little confuse about this at the begining too. With Nuxt you have to care about both about client side and server side, `req.session` is only exist on server side. Then if you console.log the `context` you should see it on the terminal  (where you run your project), not in the browser. If the terminal also not exist, it just because you ju

[2018-02-09 15:47] ralphchristianeclipse commented on #78
@dohomi that is the problem this.$route.params.username is not available even when i do the prefetch stuff

I followed everything but it seems asyncData is really needed

[2018-02-09 16:13] abattenburg commented on #79
Thank you @dohomi that all makes sense, but how do I set my cookie to ctx.req.session? If I set the cookie directly in the default.js to ctx.req.session it breaks the rest of my app. Do i need to use express to do it and set to a field like `ctx.req.session.authToken` Like @kieusonlam recommends? Again I've tried setting my token to `ctx.req.session.authToken` directly with no luck.

This line `le

[2018-02-11 23:59] dohomi commented on #78
@ralphchristianeclipse not sure how to help you, all my queries depends on route params and I never faced this issue. Do you have a reproduction?

[2018-02-12 00:52] dohomi opened #80 "Update vue-apollo beta"
Update codebase to `vue-apollo` beta.1

@Akryum could you point me to the right direction what changes needs to be make? I tried to update to beta.1 without success. If I call apolloProvider.provide() then `prefetchAll` is not a function. I might misunderstand your upgrade guide. Thanks

[2018-02-12 01:06] Akryum commented on #80
You just need to change the line in the options of `new Vue({..})`. See [this example](https://github.com/Akryum/vue-apollo#creating-the-apollo-clients)

[2018-02-12 01:18] dohomi commented on #80
@Akryum not sure where to look at. I tried changing
[code]
But that results into undefined code.

[2018-02-12 01:47] dohomi commented on #80
As we don't make use of `new Vue(...)` I'm not sure how to make this work with `Nuxt`. @Atinux could you have a look at this? Thanks

[2018-02-12 08:27] pSchaub commented on #80
Same issue here. How can we fix this?

[2018-02-12 15:25] faroutchris commented on #54
I have the same issue. It has nothing to do with the "Usage" section. The apollo provider is undefined for some reason on the Vue component.

[2018-02-12 15:54] faroutchris commented on #70
@yaki4
You need to tell apollo about all the possible types in a union type.

Simply follow the instructions here: https://www.apollographql.com/docs/react/recipes/fragment-matching.html

[2018-02-13 02:49] #76 closed

[2018-02-13 04:38] nahue commented on #54
Same problem here, maybe due to some api changes in vue-apollo? this.$apollo.defaultClient is undefined running inside a method.

[2018-02-13 04:39] dohomi commented on #54
@faroutchris @nahue can you check which version of vue-apollo you have installed? If you run on beta then please check out the PR #81

[2018-02-13 05:01] nahue commented on #54
Thanks @dohomi that was it! i have vue-apollo 3.0.0-beta.2.
I've made the changes in the PR locally and it worked perfectly!

[2018-02-13 05:02] ralphchristianeclipse commented on #78
@dohomi i'll create one later

[2018-02-13 05:09] dohomi commented on #54
Ok great I will publish a release later today

[2018-02-13 07:59] #80 closed

[2018-02-13 08:07] dohomi commented on #54
this issue is resolved with v3.0.3

[2018-02-13 08:21] faroutchris commented on #54
Wow, great! Thanks for the quick response. I was indeed running vue-apollo 3.0.0-beta.2

[2018-02-13 17:42] abattenburg commented on #79
As an update I ended up avoiding everything concerning `ctx.req.session` and just went back to my old implementation. I check for the cookie (the nuxt auth module is good for catching all edge cases around Cookies and grabbing them), and then I access the token in vuex via the `nuxtServerInit` method.

I'm sure i'm missing some edge cases, but it's been working so far. Thank you both again for hel

[2018-02-13 17:42] #79 closed

[2018-02-13 22:53] yaki4 commented on #70
@faroutchris: thanks for the advice.  It works now.
I was not sure that was mandatory for union.

Thanks @dohomi for your patience

[2018-02-15 20:37] kavalcante opened #84 "Prefetch comportment"
I have a question that maybe is too stupid, but I'm lost in this thing. I have this query:

[code]

However, it's not loading on server-side. I think the problem is the `filterValue` because it's depend on a variable in data. But I need this to be reactive, and has a default value on init.

How can I fix this?

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.

[2018-02-16 02:45] ralphchristianeclipse commented on #78
It works now i think the prefetch return variables are passed on the $route.params on nuxt

[2018-02-16 02:45] #78 closed

[2018-02-16 16:39] jarnojellesma opened #85 "How to reinitiate apollo client middleware?"
Is there any way to reset the apollo client middleware on command? I am basically looking for a function that does this:

apolloClient.reinitiateMiddleware() -> So it fetches the token from a cookie again.

Basically my problem is this:

I use the feathersClient to authenticate a user, which in turns sets the jwt token into a cookie.
After the user is authenticated, I fetch the details with a grap

[2018-02-17 09:01] kieusonlam commented on #85
That's what I werer confused too. Here is one of the answer:

https://github.com/nuxt-community/apollo-module/issues/73

[2018-02-17 22:26] BorisTB commented on #4
If someone will looking for answer here like I did, in Vuex store you have to get client like this
`let client = this.app.provide.$apolloProvider.defaultClient`

[2018-02-18 16:18] alidcastano commented on #84
In case it helps - the module only seems to prefetch components passed by nuxt's render function, which I assume is only page components

relevant code:
https://github.com/nuxt-community/apollo-module/blob/master/plugin.js#L54

[2018-02-19 00:09] dohomi commented on #84
@alidcastano if your query depends on route params you need to do something like this:
[code]
Keep in mind that your search params will be only serverside if you depend on the this context. prefetch function has not `this` context. Check out the vue-apollo example about SSR: https://github.com/Akryum/vue-apollo#server-side-rendering

[2018-02-19 04:59] kieusonlam commented on #85
Currently this is what work for me. I did not use Vuex to handle the token, I define my own plugin to handle auth with apollo client (https://nuxtjs.org/guide/plugins#inject-in-root-amp-context):

My `plugin.js` file look something like this
[code]
Here is my apollo client
[code]
Login method will look something like this
[code]

[2018-02-19 11:44] jarnojellesma commented on #85
Thanks to @kieusonlam for the fix.

I made a pull request as it is a bug in the README file -> https://github.com/nuxt-community/apollo-module/pull/86

The function that is given to the apollo middleware link is:

[code]

This function is called on each apollo request, therefore the token must be fetched from inside the function like this:

[code]

[2018-02-19 11:46] #85 closed

[2018-02-20 12:36] kavalcante commented on #84
@dohomi Some of my variables are in data, they are reactive, I see here that context has access to the Store. Maybe this is a way. Change my reactive params from data of a component to the store. What do you think about this aproach?

[2018-02-20 16:12] gbouteiller opened #87 "Redirect use with apollo-module"
Hello,
First of all, I'm a new user of Nuxt, Vuejs and Apollo so don't hesitate to correct me on the workflow I use or anything else.
I'm building a website with a **301** redirect of `'/'` to `'/projects' `:

**middleware/redirect.ts**
[code]
**pages/index.vue**
[code]
I use components on the `layouts/default.vue` that depend on **apollo-module**. Everything works fine in dev mode but unfortunate

[2018-02-20 16:41] kavalcante commented on #87
Can you reproduce the error? Also, have you defined a defaultClient in vue-apollo?

Maybe is related with this https://github.com/nuxt/nuxt.js/issues/504

[2018-02-20 16:45] kavalcante commented on #84
I found the mistake. Like the documentation said, the prefetch object and the variables object need to be exact equal. But my variables are defined in the data scope, which is not available on prefetch object. What I've did was move my Data object into Vuex Store. Store is available at Nuxt Context, that way I can set a default value of variable and handle with mutations when I need to refetch the

[2018-02-20 18:59] morriq opened #88 "DateTime in query variable"
Hello,

I have query

[code]

where `lastActivity = new Date().toISOString()` (for example)

That way my component is refreshing data on client side. When I create `lastActivity = "2016-02-20T18:21:41.375Z"`  then it's fine - it's not refreshing content.
I don't want to refresh data on client side but I want to have posibility to put currentTime (lets say serverside date is enough) in query. How c

[2018-02-21 01:27] dohomi commented on #88
@morriq maybe use
[code]
to ensure that SSR and client has the exact same set on data. Skipping your query is done via the
[code]
Hope this helps. Beside that, you might better check vue-apollo docs or apollo itself. This package is a simple wrap to make it easy to use with Nuxt but doesn't do any magic with your queries

[2018-02-21 01:30] dohomi commented on #87
@gbouteiller which version of apollo-module are you using? can you check that you are running the newest version of vue-apollo and this module.

[2018-02-21 01:34] dohomi commented on #84
@kavalcante prefetch is for SSR render. This means you are defining a query on the server on prefetch, there you need to be aware about the limitations. Prefetch has the Nuxt context applied which is similar like you do a request like asyncData or fetch in the Nuxt component lifecycle.

`variables` is the client side reactive function for the client to apply search params or anything else. And now

[2018-02-21 02:40] gbouteiller commented on #87
Thank you guys for the quick answer.

@kavalcante Yes I have defined a defaultClient in vue-apollo :

**nuxt.config.js**
[code]

**apollo/client-configs/default.ts**
[code]

I have also simplified my project and the error appears as soon as I integrate the module.

@dohomi I'm using `3.0.4` with vue-apollo `3.0.0-beta.4`

[2018-02-21 02:53] dohomi commented on #87
@gbouteiller I would need to have a repo to look at. One important think you need to know:
nuxt generate is a mechanism where you create client side only pages. This means that you can't use any vue-apollo feature which runs on the server. It seems you use somewhere app.apolloProvider.defaultClient which does not exist on the client - that is server code. You might need to look for that call and r

[2018-02-21 03:27] gbouteiller commented on #87
@dohomi I'm gonna put a simplified version ( without typescript and all ) on github for you to look at.
In fact, I'm currently using nuxt in that particular case for a static site and the new `apollo-link-state` to store the data ( I know that I could use vuex but I want to use graphql on every ( static or not ) website ).
Besides, without redirect, everything is working fine with generate, so I'm

[2018-02-21 03:57] gbouteiller commented on #87
@dohomi  here it is : https://github.com/gbouteiller/nuxt-apollo-redirect-example

[2018-02-21 08:08] gbouteiller commented on #84
It seems after testing in Pages, Layouts and Components that prefetch is only occurring in Pages as @alidcastano mentioned. As I'm new on both nuxt and apollo, is it intended and do we have to prefetch data on each page as best practice or can we have prefetch working elsewhere?

[2018-02-21 12:48] kavalcante commented on #84
@dohomi Yes, that's a great explanation. I think my problem was that with asyncData and fetch, usually you do an ajax call. And when you want to refresh you use a method or something like this. We have the same behaviour with vue-apollo, but a little different to expose this.

And @gbouteiller I was with the same question too. But in my test only work prefetch in Pages. Which make sense I guess.

[2018-02-22 02:11] dohomi commented on #87
@gbouteiller you can't use 'prefetch:true' in your projects.vue page. As I said: as soon you want to use generate you are on client only and can't use SSR features of `vue-apollo` and prefetch is one. That I think is responsible for your error you see.

[2018-02-22 04:45] gbouteiller commented on #87
@dohomi Why is it working then if there is no redirect? In fact, I'm using `prefetch: true` on all the pages with all my data that need to be prefetched and everything is generated correctly as soon as prefetching is done in the Page and not in Layout or Component. From my understanding, SSR features can be used  to generate static content with initial data ( I did the same with next.js ).

[2018-02-22 07:06] dohomi commented on #87
Your question is more Nuxt specific than the apollo-module. I think if you generate static pages you need to check this docs:
https://nuxtjs.org/api/configuration-generate#the-generate-property
In fact, you will do the prefetch of GQL queries already upfront in a function. i would recommend don't to use apollo for that, just use 'graphql-request' its slim and easy to use. there you render all your

[2018-02-22 07:09] dohomi commented on #87
One more thing: you are adressing inside of redirect middleware a redirect to 'projects'. But in the same time you created in the pages/projects.vue => this is duplicated behaviour and does not make sense. In fact I think you might bump into a endless loop.

[2018-02-22 07:37] gbouteiller commented on #87
@dohomi What makes me feel that is related to apollo-module ( maybe vue-apollo ) is that redirect is working without it and with other similar data processes ( vuex ). I will investigate further when I'm more comfortable with the libraries if no one finds a solution before.
I want to use apollo because I would like to use the same  core librairies on all my projects for  consistency ( and I know t

[2018-02-22 12:45] dohomi commented on #87
@gbouteiller you currently do a redirect with status code 302... you must do
[code]
for a clean 301 approach.
But again, what is with your / root page? Shall nothing be visible there? Then its alright what you do. But maybe think about moving your projects page to index.vue if its the root of your application, not sure if its good to start your root page with a 301.

And another thing about apollo

[2018-02-22 13:12] gbouteiller commented on #87
@dohomi you're right about 301 ( it's 301 in my code but there is a mistake on github link ). In that website, it's a replacement for an old version so I'd like to keep the same urls, that's why I have a redirect on the root page.

About apollo : I like magic :) . Seriously, I also want some proof of concept to help me decide the tools I want to use for all my future projects. In that specific cas

[2018-02-22 13:32] dohomi commented on #87
@gbouteiller nuxt generate is not application code and thus not anyhow connected to vue-apollo, vue or apollo-module of nuxt. Nuxt-generate runs entirely outside of your application code and simple generates static HTML pages based on your provided function.

So no, you wont be able to use this package for nuxt-generate, this package utilizes vue-apollo to make it available on runtime vie this.$ap

[2018-02-23 17:35] morriq commented on #88
Without luck with skiping, thank you for help. I'm going to ask on vue-apollo.
Thanks!

[2018-02-23 17:35] #88 closed

[2018-02-23 17:43] Akryum commented on #88
If you have the same exact variables on the server and on the client, it will get results from the cache. Also, the queries are skipped for a certain amount of time while the app is re-hydrated on the client.

[2018-02-23 17:46] Akryum commented on #88
Also, make sure this component is directly used in a route (`{ path: '/foo', component: ThisComponent }`) or use [willPrefetch](https://github.com/Akryum/vue-apollo#prefetch-components).

[2018-03-02 23:31] yaki4 opened #89 "Access store for dynamic URI"
I need to create a dynamic graphql client for a project and i want to access my store to put some params in my uri.

I've tried to access my store  like this but it doesn't work :
if (process.server) {
    console.log(ctx.req.store)
  } else {
    console.log(ctx.store.app.store.state.gps)
    console.log(window.__NUXT__.state.value)
  }

Is it better to pass by the localStorage for a dynamic uri

[2018-03-03 03:27] dohomi commented on #89
@yaki4 can you show me how your config file looks like?

[2018-03-04 04:56] esindger opened #90 "Store rehydration"
Hello,

As I see the plugin restore state from `window.__NUXT__.apollo.defaultClient`:
https://github.com/nuxt-community/apollo-module/blob/master/plugin.js#L33

 But it's not clear to me how to extract the state from the server. The `window.__NUXT__.apollo.defaultClient` object is always emty after server rendering.  Can you provide an example how to rehydrate apollo state?

Thank you.

<div alig

[2018-03-05 01:58] dohomi commented on #90
@esindger what are you trying to do? You should not think too much about how the rehydration works. If you want to access apollo check out the usage examples: https://github.com/nuxt-community/apollo-module#usage

[2018-03-05 02:02] dohomi commented on #84
@gbouteiller @kavalcante the `prefetch` is $apollo dependend and has no direct connection to `nuxt` but `vue-apollo`. So it should work in all components but depending on your code it might get out of sync if you have lot of nesting and maybe overlook some v-if/else pattern somewhere.

Hope you guys getting along I will close this issue as I don't see any open issue on the package itself for now.

[2018-03-05 02:04] dohomi commented on #69
will close this issue for now as it seems its been solved

[2018-03-05 02:04] #69 closed

[2018-03-05 02:05] dohomi commented on #71
will close this issue due to inactivity

[2018-03-05 02:05] #71 closed

[2018-03-05 02:05] dohomi commented on #70
will close this issue due to inactivity. Hope you got everything sorted

[2018-03-05 02:05] #70 closed

[2018-03-05 02:06] dohomi commented on #87
will close this issue for now as I think its no open issue on how this module works

[2018-03-05 02:06] #87 closed

[2018-03-05 02:06] dohomi commented on #77
will close this issue due to inactivity @gijo-varghese feel free to re-open if you still have problems

[2018-03-05 02:06] #77 closed

[2018-03-05 02:10] gijo-varghese commented on #77
@dohomi this one finally worked: https://github.com/Akryum/vue-apollo/issues/227

Can you pls take a look

[2018-03-05 02:14] dohomi commented on #77
@gijo-varghese looking good to me.

[2018-03-05 14:19] yaki4 commented on #89
You can find my configuration for my apollo client below.
The schema.json file contain the schema of my database to prevent fragment issue.
import { ApolloLink } from 'apollo-link'
import { HttpLink } from 'apollo-link-http'
import { InMemoryCache, IntrospectionFragmentMatcher } from 'apollo-cache-inmemory'
import schema from './schema.json'
export default (ctx, store) => {
  console.log('vonjour

[2018-03-05 20:31] yaki4 commented on #89
I forgot to put my store configuration.
import Vuex from 'vuex'
import mutations from './mutations'

const createStore = () => {
  return new Vuex.Store({
    state: {
      gps: {lat: null, lng: null}
    },
    mutations
  })
}

and for mutations i've got
const mutations = {
  set_gps (state, gps) {
    console.log('valeur de state', state)
    console.log('valeur pour mutation', gps)
    state.

[2018-03-06 00:25] dohomi commented on #89
@yaki4 you need to move your code into the function of the middleware. Beside that you don't do the right thing with the context, I'll correct your config quick:
[code]
Hope this gives you an idea how to finalize your setup

[2018-03-06 03:53] esindger commented on #90
@dohomi,
During initialization all graphql requests are performing twice. First time it happens from the server and then, second time, from the client. I want to pass initial state from server to client in order to avoid overhead requests.

I thought the rehydration is authomatic but it's not true.

I saw that examples but still no have an idea how to extracts server state in my apollo config.
I h

[2018-03-06 04:17] dohomi commented on #90
@esindger without any repo or code example to visualize what you trying to archive I won't be able to help.

Apollo will always trigger multiple times but uses an internal cache which data is declared as fetched and which one will update the internal store state. So don't worry about that, if you use this module you don't need to think too much how often internally apollo is being called.

You get

[2018-03-07 08:57] Hurtak opened #91 ""Variable x was not provided" even if it is correctly passed"
We are using nuxtjs/apollo: "3.0.4" with latest apollo. And when making query with variables sometimes it is not reckognized (`Variable "$userId" of required type "String!" was not provided.`) even if we pass it in correctly, but this only happens when we use websocket connection, if we switch to HTTP it works fine.

What I also encountered on different ocasion is that the query worked when i did

[2018-03-08 00:39] dohomi commented on #91
@Hurtak without any code or repo I'd not be able to help. I suspect you are not publishing the userId correctly on both client and server side

[2018-03-09 21:20] PZ01 opened #92 "How to access the client in nuxt.config.js?"
When generating a website, dynamic routes can be generated by calling an end-point using [Axios](https://nuxtjs.org/api/configuration-generate).

Is there a way to get a reference to the Apollo client to do something equivalent? Someone raised the issue on the [nuxt page](https://github.com/nuxt/nuxt.js/issues/2254).

My only alternative is to create webhooks on the GraphQL server and simply fetch

[2018-03-11 17:00] PZ01 commented on #92
I got it done using Apollo-Fetch instead. It's good enough for this use-case.
[code]

[2018-03-11 17:00] #92 closed

[2018-03-14 17:19] yaki4 commented on #89
Hi thanks once again Dohomi for your help.

This issue can be closed now.

[2018-03-14 17:29] yaki4 opened #95 "Credentials from another domain get delete when refresh"
I've set up my clients credentials to include and it works perfectly fine.
But when i reload my page this credentials are deleted from my cookies.
I've see some package like apollo-cache-persist but i'm not sure that it's the right stuff for my use case.
Is there a way to keep theses information ?

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</

[2018-03-15 03:33] dohomi commented on #89
great news.

[2018-03-15 03:33] #89 closed

[2018-03-15 03:35] dohomi commented on #95
@yaki4 this package does not modify your cookies. the issue seems to belong in how you set-reset the cookies in your application code. Probably move to the official Nuxt package to seek for the information there.

`apollo-cache-persist` might be an alternative but I never used it so far.

[2018-03-15 09:28] #91 closed

[2018-03-17 23:25] moltar opened #96 "Not possible to write clients with ES5 syntax"
Using `require` is not possible in the client, which prevents me from writing tests without using babel. I think it is because the plugin is using ES6 syntax and two do not mix.

Is it possible to write the plugin in ES5 syntax?

Or any other suggestions to fix this besides installing `babel-cli` just for one test case?

Thanks.

<div align="right"><sub><em>This question is available on <a href="h

[2018-03-19 00:39] dohomi commented on #96
@moltar this plugin is a superset of Nuxt where you write in es6 syntax. Not sure why you can't import modules with the require syntax, I do that quite often.

[2018-03-19 03:01] moltar commented on #96
I am talking in a context of a unit test. I cannot require this module with import statements without transpiling it first.

[2018-03-22 09:29] joehua87 commented on #84
@kavalcante @gbouteiller You can use willPrefetch (in `vue-apollo`) to prefetch data in component.

[code]

See more https://github.com/Akryum/vue-apollo#server-side-rendering

[2018-03-29 03:31] wakamatsu commented on #74
Hi!
Please tell me How do you fix this error.
I updated nuxtjs/apollo.
So such a error occurs now.

[2018-04-03 00:16] dohomi commented on #96
@moltar did you try to use AVA for testing? That is what I use for my tests in general, there ES6 is running out of the box. I don't plan to change the concept of how this module is included for each Nuxt project.

[2018-04-03 00:17] dohomi commented on #95
I close this issue due to inactivity.

[2018-04-03 00:17] #95 closed

[2018-04-03 00:18] dohomi commented on #90
I close this issue due to inactivity

[2018-04-03 00:18] #90 closed

[2018-04-16 16:09] dohomi commented on #42
@kavalcante @ciscorn haven't had this implementation on my radar yet. You can gain same result with following code:
[code]
Is there any reason why not using `asncData` directly, you would write actually less code to receive the same result. Setting up a fetch method is slightly redundant in my eyes. I'm not sure if its straight forward to decouple the query call and add the fetch statement to it.

[2018-04-18 14:53] samirph opened #99 "Prefetch does not work or there is no correct docs about it"
As there is no example of how to use `prefetch` in this repository, I followed the example at https://github.com/Akryum/vue-apollo

So it looks like this:
[code]
It does not work. The variables field in the graphql request is an empty object.

[2018-04-18 14:53] #99 closed

[2018-04-18 20:00] JRobber commented on #42
@dohomi One major reason to do ciscorn's implementation is that with your solution I have to do a query.   Given this basic example of routing :

Pages
/product
   _id.vue

The query is always sent before I can validate or asyncData (fetch isn't even invoked SSR).  All I'd like to do is if there is no param provide re-route to the home page or something, but I can't if apollo is included in the co

[2018-04-23 06:37] ciscorn commented on #42
My solution is a kind of dirty hack to avoid using [beforeNuxtRender](https://github.com/nuxt/nuxt.js/blob/fb978b812a3790f3e0be386931a75662e6903fe5/lib/app/server.js#L210).

It would be the best if we can set up a hook [here](https://github.com/nuxt/nuxt.js/blob/fb978b812a3790f3e0be386931a75662e6903fe5/lib/app/server.js#L196).

[2018-04-30 18:24] ScreamZ opened #100 "Using authentication middleware that throw 401 and error on SSR"
Hey,

https://nuxtjs.cmty.io/nuxt-community/apollo-module/issues/c80

Regards

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt-community/apollo-module/issues/c81">#c81</a>)</em></sub></div>

[2018-04-30 18:24] #100 closed, assigned to nobody

[2018-05-02 06:50] evseevnn commented on #4
@BorisTB I trying do it in nuxtServerInit method and getting error `networkError: TypeError: Cannot read property 'get' of undefined`

[2018-05-02 06:59] Samuell1 commented on #4
@evseevnn just use `this.app.apolloProvider.defaultClient`

[2018-05-02 07:04] evseevnn commented on #4
@Samuell1 i trying do something like this inside nuxtServerInit method
[code]
and got `Network error: Cannot read property 'get' of undefined`

[2018-05-02 07:09] evseevnn commented on #4
@Samuell1 inside `me` just query wrapped in gql tag

[2018-05-02 07:16] dohomi commented on #4
@evseevnn check out the nuxt docs about the right usage of nuxtServerInit:
https://nuxtjs.org/guide/vuex-store#the-nuxtserverinit-action

[code]

[2018-05-15 12:10] ImreC opened #102 "Nuxt apollo only loading data after page refresh"
I am currently experimenting with the apollo module and have retrieved data from my backend succesfully using the following settings:

[code]
However, this only seems to work when refreshing the page and not when changing routes. How do I get this to work while changing routes?

[2018-05-15 12:10] #102 closed

[2018-05-15 19:40] ImreC commented on #102
Ok, after implementing the client in the asyncData method I found that I was getting an error which seemed to have something to do with my token settings. Changed those. After that it looked like I had a CORS issue. Fixed that. Now it's working. Two remarks. 1) I was able to get data from my API with the CORS settings being wrong. I don't understand that. 2) There was no error handling in the apol

[2018-05-16 03:07] dohomi commented on #102
@ImreC this plugin only supersets `vue-apollo` and on the long run `apollo` for your Nuxt project. It seems to me that you might did some misconfiguration passing the right token at the right time.
You can add your error handling inside of your config:
[code]

[2018-05-16 06:53] ImreC commented on #102
Yeah, my token settings weren't working. I have added the error handling part. Thanks for the help! It is difficult to figure things out since the solution to your woes lies in either the apollo-client, vue-apollo or nuxt-apollo docs. Maybe I'll try to do a tutorial if I get the hang of this a little bit more.

[2018-05-27 00:01] kieusonlam opened #103 "New way to do auth?"
Hey guys,

There are some update about auth example at `vue-apollo` repo https://github.com/Akryum/vue-apollo/blob/master/tests/demo/src/vue-apollo.js

I wonder if we can do the same?

P/S: v3.0.0-beta.14 is released by the way :)

[2018-05-27 00:04] kieusonlam commented on #103
By this way we may have a solution for auth-module also https://github.com/nuxt-community/auth-module/pull/140

[2018-05-27 09:53] ScreamZ opened #104 "Bump version"
Hello,

@dohomi Can you proceed to `vue-apollo` version upgrade to fix importants bugs ?

Best regards

[2018-05-27 09:53] #104 closed

[2018-05-28 02:03] dohomi commented on #103
@kieusonlam just released new version to npm for newest beta on vue-apollo

[2018-05-28 02:08] kieusonlam commented on #103
@dohomi What about createProvider like vue-apollo demo (it have login and logout inside), can we do something like that :)

[2018-05-28 02:14] dohomi commented on #103
@kieusonlam what exactly do you mean? This plugin exposes apolloProvider so you can use it in Vuex-actions or any component related code

[2018-05-28 03:03] kieusonlam commented on #103
@dohomi Sorry if I'm misunderstanding his demo. I'm not really good as English so I gonna try explain to you as clear as I can :) You can take a look at demo folder https://github.com/Akryum/vue-apollo/tree/master/tests/demo/src

In `main.js` https://github.com/Akryum/vue-apollo/blob/master/tests/demo/src/main.js you can see:
[code]
he use createProvider by another file that he has created in `vue

[2018-05-28 05:10] dohomi commented on #103
@kieusonlam thanks for your suggestion. its actually a nice idea if you have time to submit a PR I'm happy to assist.

[2018-05-30 07:44] kieusonlam commented on #103
I'm working on it. I don't know if I do it right. Here is my fork:
https://github.com/kieusonlam/apollo-module/blob/master/plugin.js
Currently, I don't know how to put `setToken` function in `$apollo`, and the right way to get the module options.

Should I submit a WIP PR.

[2018-05-30 07:56] dohomi commented on #103
@kieusonlam how about to provide a plugin to publish some internal functions:
[code]
sure you can provide a PR out of your fork and then we can ask other users to join for a best practice setup

[2018-06-07 09:37] dohomi commented on #103
@kieusonlam as v4 just published as pre-alpha I think we took care of all of your ideas. I will close this now as login/logout handling is fully covered with this plugin

[2018-06-07 09:37] #103 closed

[2018-06-07 09:39] dohomi commented on #96
@moltar v4 provides a new way to wire up your apollo-config. I am closing this issue now as there has been too many changes internally and hopefully with AVA tests everything should work

[2018-06-07 09:39] #96 closed

[2018-06-07 09:41] dohomi commented on #42
As version 4 follows now a different approach I will close this issue. Most likely it does not solve your issue but maybe the best way would be to run a separate module for it.

[2018-06-07 09:41] #42 closed

[2018-06-08 02:07] kieusonlam opened #109 "Mismatching childNodes vs. VNodes"
@dohomi

Current version will have this problem: Mismatching childNodes vs. VNodes in the console.

![image](https://user-images.githubusercontent.com/13093313/41135179-9b4a0c82-6afa-11e8-869b-53c94fdfdd5b.png)

It happen because the restore cache in vue-cli-plugin-apollo not working with nuxt or event multiple clients

https://github.com/Akryum/vue-cli-plugin-apollo/blob/master/graphql-client/src

[2018-06-08 02:11] dohomi commented on #109
@kieusonlam isn't the caching enabled inside of the plugin? @Akryum what would be the best option to do this? Should this be done by providing a `clientState`?

[2018-06-08 02:34] kieusonlam opened #110 "Backward compatible"
As your old meantion https://github.com/nuxt-community/apollo-module/pull/106#issuecomment-394969055 People doesn't need to change much after they upgraded to v4, they might have to set getAuth function to undefined if they used their own handle token in their old client file:

[code]

@dohomi what do you think?

[2018-06-08 02:34] #110 closed

[2018-06-08 03:10] dohomi commented on #109
@kieusonlam can you try if the branch `add-client-cache` solves your issue?

[2018-06-08 03:16] kieusonlam commented on #109
@dohomi yes, it solved my issue.

[2018-06-11 14:16] aldarund opened #111 "Cannot read property 'extract' of undefined"
### Version

[v4.0.0-beta.1](https://github.com/apollo-module/releases/tag/v4.0.0-beta.1)

### Reproduction link

[-](-)

### Steps to reproduce

I tried to update my project to 4.0.0-beta.1 from 3.0.7.
Changed my config from a js file to
[code]
And now it just throws a error and i cant even find where from its coming...

[code]

### What is expected ?

no error

### What is actually happening?

e

[2018-06-12 00:09] dohomi commented on #111
@aldarund is it possible that the endpoint is not running? I haven't faced your issue yet - is it possible that you wire up a reproduction?

[2018-06-12 00:22] aldarund commented on #111
@dohomi no, it dont even hit endpoints. I dont even know where it happens because it just happens on loading my index page. And i dont do anything on index page with apollo. I though it was my auth calls but when i disabled it nothing really changed. The only place where they was left was in vuex store, but they wasnt actually called at index page.
I tried to reproduce it on new repo but it doesnt

[2018-06-12 00:29] dohomi commented on #111
So basically the big change of v4 is that we utilize https://github.com/Akryum/vue-cli-plugin-apollo/blob/master/graphql-client/src/index.js and so you only need to pass in a valid endpoint. if you have a debugger maybe check the console log in this file: https://github.com/nuxt-community/apollo-module/blob/master/lib/templates/plugin.js#L68

make sure that the initialization of apolloProvider wor

[2018-06-12 10:45] aldarund commented on #111
endpoint is a totally separate server that is started before nuxt, so thats shouldnt be a problem.
I found a problem.
In not working case apollo-client is 1.9.3
In working case apollo-client is 2.3.2
I dont have apollo-client in my package.json. But i do have serverless.
So to reproduce issue just need
```yarn add serverless --dev```
And it will lead to apollo-client 1.9.3 used instead of 2.3.2

[2018-06-12 13:18] dohomi commented on #111
@aldarund as the docs stated you must use apollo v2.x. Probably just run your own version of apollo-client with yarn add apollo-client on the server. Will close it here as its not connected to apollo-module - thanks for reporting back

[2018-06-12 13:18] #111 closed

[2018-06-12 13:26] csharad opened #112 "How to send authorization header?"
I am not able to do authorization requests. Doing as written in https://www.apollographql.com/docs/react/recipes/authentication.html also does not work. I wrote the following in nuxt config.
[code]

 It throws the following stack trace:
[code]

<div align="right"><sub><em>This question is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/apollo-module/

[2018-06-12 14:55] dohomi commented on #112
@csharad you don't need to provide a link. Make sure that the tokenName fits to your application logic - all you need to do is calling
[code]
as described here: https://github.com/nuxt-community/apollo-module#build-in-methods

[2018-06-12 15:23] csharad commented on #112
@dohomi I was already doing that but it was still not working. I scanned through your code and saw that authorization uses `Bearer` whereas mine uses `Basic`. So, I had to workaround my code to make it work.
It would be helpful, if there was an option to set the authorization scheme.

[2018-06-12 15:25] dohomi commented on #112
@csharad feel free to add a PR for your usecase, I can review it soon and add it to v4

[2018-06-12 23:58] #112 closed

[2018-06-13 17:10] aldarund opened #115 "Use of apollo-error-link with version 4?"
How to add use of apollo-error-link with version 4 ?
In version 3 i was having this:
[code]
I dont see how can i add onError handler for version 4 of plugin.

PS asked on cmty as question ( https://cmty.app/nuxt/apollo-module/issues/c93 ) but it doesnt import into github and i didnt see any replied to any questions that is solely on cmty without github, so it made me think that its not monitored a

[2018-06-14 00:06] dohomi commented on #115
@aldarund seems that currently there is no option to set in in https://github.com/Akryum/vue-cli-plugin-apollo/blob/master/graphql-client/src/index.js

Open an issue there if you rely `onError` - all configuration option from that plugin will be available here.

[2018-06-14 13:11] mcpll opened #116 "Problem with Auth"
I noticed that the request header does not have the authentication value set to always be ""

I can not understand how it is possible to set this value.

Can you help me?

<div align="right"><sub><em>This question is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/apollo-module/issues/c98">#c98</a>)</em></sub></div>

[2018-06-14 13:47] adamkhan commented on #99
I am having the same issue.

[2018-06-17 01:54] dohomi commented on #116
To set an authorization token you should call the onLogin() helper as shown here: https://github.com/nuxt-community/apollo-module#user-login
Does that solve your issue?

[2018-06-17 07:58] mmintel commented on #116
I am not sure about that. Ofc i have seen this in the readme but i am not sure where to put this code. I dont have a dynamic user login, I just need to set the authorization header for an api key that will never change, because i am just fetching data from a headless cms. So for my understanding the best place for that should be the config?

[2018-06-17 08:43] razorabhu1995 commented on #5
Did you guys made the repo for this??? I require the step by step process!!

have you guys made it??

[2018-06-17 08:49] dohomi commented on #116
@mmintel yes just call the function somewhere on app start. not sure how your structure looks like though..

[2018-06-17 08:52] mcpll commented on #116
Hi @dohomi can you write an example to call it under component or asyncdata or fetch? I don’t understand like @mmintel

[2018-06-17 08:55] dohomi commented on #116
Check out the full example code here:
https://github.com/nuxt-community/apollo-module/tree/master/test/fixture

[2018-06-18 08:32] mcpll commented on #116
@dohomi

Sorry but i follow the example and i write this code:

`async asyncData(context) {
        let client = context.app.apolloProvider.defaultClient
        await context.app.$apolloHelpers.onLogin('ded5ebeaeab439f1fc2e3bbc9ff467')
        let { data } = await client.query({
            query: ALLPAGINAS
        })
        return {
            allPaginas: data.allPaginas
        }
    }`

but

[2018-06-18 09:18] dohomi commented on #116
@mcpll its very hard to read, please write wrap your code examples with 3 "```" that its better readable.
Why are you not setting the login directly in your application code like:
[code]
If you use Vuex you can also use the `onServerInit` function. Just from what I read is that you create client => setToken => queryClient. It should be: setToken => client => queryClient

[2018-06-18 09:40] mcpll commented on #116
Sorry @dohomi

i create this nuxtServerInit
[code]

the in pages in my async asyncdata i write this:
[code]
this is the result:
 Error: Network error: Response not successful: Received status code 401

i don't think why? where is my fault?

thnx

[2018-06-18 10:08] dohomi commented on #116
Can you check inside the network panel if you have `Authorization Header` if you trigger the query?

[2018-06-18 13:30] mcpll commented on #116
@dohomi  this is my pages/index.vue

[code]

this is my store index
[code]

and this is my nuxt config_
[code]
if i don't change the graphql-client/dist/index file like this:
[code]

i received a strange error on localhost, where header not have the authentication set

[2018-06-18 13:35] mcpll commented on #116
if i use component call like this:

[code]

![image](https://user-images.githubusercontent.com/9906053/41539075-265ffede-730d-11e8-9f2c-5618e9c959c0.png)

[2018-06-19 06:10] dohomi commented on #116
@mcpll `tokenName` is `not` your token: its a name how you would call the cookie to hold your token - thats all about it.
If you want to always enable the same token you could do this (https://github.com/nuxt-community/apollo-module/blob/master/lib/templates/plugin.js#L22):
[code]

[2018-06-19 07:59] mcpll commented on #116
hi @dohomi thx for you assistance.

unfortunately seems not work,
this is my nuxt config
[code]
and the auth is always not set

![image](https://user-images.githubusercontent.com/9906053/41584374-6c6a69ce-73a7-11e8-8f95-b98203a31e3c.png)

[2018-06-19 09:15] RodionMun commented on #116
Same issue with ```auth```
Seems like ```jsCookie.set(AUTH_TOKEN, token)``` in ```apollo-module.js``` doesn't do anything for me.
(Google chrome, mac os)

[2018-06-19 09:31] dohomi commented on #116
@RodionMun what is the exact problem you are facing? Here are two different approaches available: https://github.com/nuxt-community/apollo-module/tree/master/test

[2018-06-19 09:35] RodionMun commented on #116
@dohomi in ```nuxtServerInit``` i do have:

[code]

Also, i got error in the ```apollo-module.js``` in recent release of ```beta-3```

[code]

[2018-06-19 09:42] mcpll commented on #116
@dohomi

i updated at beta.3 version but now return that getauth is not a function

this is the nuxt.config

[code]

[2018-06-19 14:30] dohomi commented on #116
@mcpll that is very strange, I wrote a test and it works with following api. Be aware: you have to set in your getAuth() function your authentication type as: 'Bearer your_token' - depends on your server or API:
https://github.com/nuxt-community/apollo-module/blob/master/test/fixture-static-auth/nuxt.config.js

[2018-06-19 14:33] dohomi commented on #116
Another approach (thus the above one should work..):
Write a router middleware with following context:
[code]
would be interesting to know if that is working out for your

[2018-06-19 14:36] mcpll commented on #116
ok, when i have a free time, test and then responde to you @dohomi

[2018-06-19 18:43] mmintel commented on #116
If it helps: I am also getting `Network error: getAuth is not a function` using this config:

[code]

[2018-06-20 00:55] dohomi commented on #116
@mcpll @mmintel can you guys try the beta.4 if that solves your problem. beta.3 definitely didn't evaluate correctly

[2018-06-20 07:49] mmintel commented on #116
@dohomi thanks that's working for me!

[2018-06-20 08:21] mcpll commented on #116
@dohomi perfect now work correctly, thx for your support

[2018-06-22 05:30] razorabhu1995 commented on #73
How did you guys set up the apollo client and in nuxt can you explain me step by step!!

[2018-06-22 06:04] dohomi commented on #73
@razorabhu1995 https://github.com/nuxt-community/apollo-module#setup here is everything explained. If you have further questions then please post your nuxt.config.js setup

[2018-06-22 06:09] razorabhu1995 commented on #73
` modules: [
    '@nuxtjs/apollo',
  ],
apollo: {
    clientConfigs: {
      default: {
        httpEndpoint: 'http://localhost:3000/graphql',
      },
    },
  }`
nuxt v4.0.0

this is my code in nuxt.config.js!!!
actually i require to get the authorization token in the request header for nuxt.
have no idea about how to use the code in middleware or in plugins!! @dohomi

[2018-06-22 06:15] razorabhu1995 commented on #73
@dohomi  Can you provide me with step by step procedure for setting up authorization token in the request header to access the user restricted pages. Nothing seems to be working for me.

[2018-06-22 06:19] dohomi commented on #73
Check out the fully featured login example for nuxt. I guess you are talking about `Nuxt 1.4.1`? : https://github.com/nuxt-community/apollo-module/tree/master/test/fixture
For any additional information check the docs there is for every usecase one example: https://github.com/nuxt-community/apollo-module#build-in-methods

[2018-06-22 07:16] razorabhu1995 commented on #73
nope im using nuxt v4.0.0beta.1

@dohomi  Actually my issue is somewhat same as [https://github.com/nuxt-community/apollo-module/issues/5](url)
i have seen your comments in this issue as well!!
While sending request to the server. I want my authorization token to be in the request header but have not been able to get it there.

[2018-06-22 07:52] dohomi commented on #73
@razorabhu1995 you need to provide more infos what you are currently tried: where did you call
[code]
you need to update to the latest beta of this package. Are you referring to have user authentication or do you want to set a permanent token? either way: set your token with the provided function `onLogin` and you should be good to go. Did you check the test folder of this package? There are the t

[2018-06-22 08:11] dohomi commented on #115
@aldarund I will close the issue here. Please open a ticket on `vue-cli-plugin-apollo` as soon the option is available there I will provide its functionality in this package as well

[2018-06-22 08:11] #115 closed

[2018-06-22 08:49] razorabhu1995 commented on #73
@dohomi

What i need to do is:

- first , User logins then user gets a token in response (this is already done).

- Now, After getting that token, I need to set that token to the request header for each and every other request to the server.
i am unable to set the token to the request header

[2018-06-22 09:33] dohomi commented on #73
@razorabhu1995 please provide a repo I really don't know what kind of problem you have. Why don't you call `this.$apolloHelpers.onLogin('here you user login token from the response...')`

[2018-06-22 09:41] razorabhu1995 commented on #73
its solved!!!

Thank you very much!! @dohomi really appreciated!!!

[2018-06-26 05:50] razorabhu1995 commented on #84
during prefetch how to set the variables from data or veux store. It only takes the hardcoded variables??

any idea @dohomi

[2018-06-26 06:51] dohomi commented on #84
@razorabhu1995 not sure what you mean? you either set prefetch: true or you provide a function as follows:
[code]

[2018-06-26 22:24] papertokyo opened #117 "Build error when specifying multiple clients"
### Version

[v4.0.0-beta.4](https://github.com/apollo-module/releases/tag/v4.0.0-beta.4)

### Reproduction link

[https://github.com/papertokyo/apollo-module-error](https://github.com/papertokyo/apollo-module-error)

### Steps to reproduce

Create a new nuxt project with vue-cli.
Add @nuxtjs/apollo module.
Configure httpEndpoint for default client and one additional client.
Yarn run dev.

### Wha

[2018-06-27 11:02] Musbell opened #118 "apollo-module.js: Duplicate declaration "currentOptions""
Module build failed: Duplicate declaration "currentOptions"

  54 |
  55 |       // Create apollo client

     |             ^
  57 |   "httpEndpoint": "http://localhost:5000",
  58 |   "wsEndpoint": "ws://localhost:5000",
  59 |   "tokenName": "apollo-token"

[2018-06-27 11:02] #118 closed

[2018-06-27 15:28] papertokyo commented on #117
Yep! No errors now. Cheers @dohomi

[2018-06-27 15:28] #117 closed

[2018-06-28 02:55] dohomi commented on #118
@Musbell did you try beta.5?

[2018-06-28 10:44] Musbell commented on #74
Please @codeitlikemiley how did u fix it.

[2018-06-28 11:29] Musbell commented on #118
@dohomi I am using the latest version. Right now i am getting this Nuxt error when i run dev:

 ERROR  Nuxt error

  TypeError: Cannot convert undefined or null to object

  - Function.keys

  - module.js:9 ModuleContainer.module.exports
    [Jobcool-Nuxt]/[@nuxtjs]/apollo/lib/module.js:9:14

  - module.js:162 Promise
    [Jobcool-Nuxt]/[nuxt]/lib/core/module.js:162:30

  - new Promise

  - module

[2018-06-28 12:36] dohomi commented on #118
Please show a reproduction of your issue. Without that I'm unable to help

[2018-06-28 12:37] dohomi commented on #74
Did you test it on the latest beta.5? The config changed please read the annoucements how to adjust your configuration

[2018-06-28 12:53] Musbell commented on #118
@dohomi  thanks for your quick response. it is now fixed after upgrading vuetify to the latest version '1.0.19'

[2018-06-28 21:22] gbouteiller opened #119 "mutation not working with Client state ( apollo-link-state) configuration"
Hello,
I'm trying to use the module with **apollo-link-state** in order to replace **vuex** with **graphql**. I can query from the cache but when I try to mutate, I get a warning : `Missing field updateColor in {}`.
[code]

[code]

[code]
If I replace **apollo-module** by the **vue-apollo** plugin with `ssr: false`, it works.
Any help would be appreciated. Thank you.

<div align="right"><sub><em>T

[2018-06-29 09:29] gbouteiller commented on #119
After investigation, it is due to :
[code]

In fact, options are stringified so every function inside is removed. That's why `updateColor` doesn't exist.  Consequently, the problem isn't only for client state but every function defined in options.

[2018-06-30 04:11] dohomi commented on #119
@gbouteiller thats an interesting case: I fixed one issue in one of the beta releases as you can see here: https://github.com/nuxt-community/apollo-module/blob/master/lib/templates/plugin.js#L22 It would be interesting to know if you would replace
[code]

[2018-06-30 09:14] gbouteiller commented on #119
@dohomi it outputs
[code]

[2018-07-03 14:21] tomdavies opened #120 "Can't override cache option from apollo config"
### Version

[v4.0.0-beta.5](https://github.com/apollo-module/releases/tag/v4.0.0-beta.5)

### Reproduction link

[https://gist.github.com/tomdavies/b88c68110333c5754f81f785ec0f270d](https://gist.github.com/tomdavies/b88c68110333c5754f81f785ec0f270d)

### Steps to reproduce

I'm attempting to override the cache in my apollo config so as to be able to define a [fragmentMatcher](https://www.apollogr

[2018-07-04 04:55] dohomi commented on #120
might be duplicate of #119 I will look into this but will also encourage to provide a PR because currently I won't have much time to dig into it.

[2018-07-04 11:29] tomdavies commented on #120
Hey @dohomi thanks for the quick reply.

I took a quick pass at fixing the general case of making custom cache fns work locally. However because of the way Nuxt plugins work AFAICS we're stuck with `eval` if we want to pass a function into the template. That's not so bad for something like `getAuth` as we only need to return a string, but things get ugly very quickly as soon as we need any depende

[2018-07-04 19:18] papertokyo opened #121 "Errors when using 'cache' property on client config options"
### Version

[v4.0.0-beta.5](https://github.com/apollo-module/releases/tag/v4.0.0-beta.5)

### Reproduction link

[https://github.com/papertokyo/apollo-module-error](https://github.com/papertokyo/apollo-module-error)

### Steps to reproduce

On project with apollo module, add 'cache' property to default client using result from apollo-cache-inmemory generator
Run dev
Open index page in browser

##

[2018-07-05 00:49] dohomi commented on #121
duplicate of #120

[2018-07-05 00:49] #121 closed

[2018-07-05 11:51] RodionMun commented on #120
I tried to properly convert object to string and then convert it back. All works, before native functions... I think there is no properly way to handle it this way.
May be its better to not pass objects through the options, but through creating extensions?

My experiments link: http://jsbin.com/semuvuleyu/edit?js,console
It's better to use javascript-serialization from yahoo ofc, but it will be cr

[2018-07-05 13:31] TrurlMcByte opened #122 "apollo-module incompatible with generate"
### Version

[v4.0.0-beta.5](https://github.com/apollo-module/releases/tag/v4.0.0-beta.5)

### Reproduction link

[https://github.com/nuxt-community/apollo-module](https://github.com/nuxt-community/apollo-module)

### Steps to reproduce

npm run generate

### What is expected ?

generated pages

### What is actually happening?

  Error: Network error: Cannot read property 'headers' of undefined

#

[2018-07-06 00:20] dohomi commented on #122
@TrurlMcByte can you show a reproduction what you try to solve?

[2018-07-06 18:41] papertokyo commented on #122
I've also been having issues getting generate to work with this version.

I had the "Cannot read property 'headers' of undefined" message from time to time, but I think that was only when I didn't have matching templates for all routes.

I'm using apollo-fetch to build a dynamic routes array and this is returning a promise, however none of the routes are getting generated—not even index.html.

I'm

[2018-07-06 18:52] TrurlMcByte commented on #122
Usual code for page content, like
[code]
In plugin template checked only  ```if (process.server)``` case, but on generation stage it's also ```process.server``` only without ```req.headers``` (check manual).

I'm just add (in two places) checks like
[code]
and all pages in this case will be generated

[2018-07-06 20:14] Atinux commented on #120
Actually one way is to let user define custom function inside their plugin (extend the module), we do this for https://axios.nuxtjs.org/extend.html

[2018-07-07 05:19] robsontenorio opened #123 "Can`t load .gql files"
### Version

[v4.0.0-beta.5](https://github.com/apollo-module/releases/tag/v4.0.0-beta.5)

### Reproduction link

[https://github.com/nuxt-community/apollo-module](https://github.com/nuxt-community/apollo-module)

### Steps to reproduce

From official example.

[code]

And the query `apollo/queries/allCars.gql`

[code]

Am i missing something?

### What is expected ?

Should import the .gql file

[2018-07-07 06:02] dohomi commented on #123
have a look how I did it here in the test: https://github.com/nuxt-community/apollo-module/blob/master/test/fixture/pages/index.vue#L40
If that does not work you seem to overwrite the gql loader somewhere

[2018-07-07 13:53] robsontenorio commented on #123
@dohomi no luck with relative folder, and `.gql` extension on import statement as suggested.

## Step by step

Create a nuxt app with yarn.

[code]

Options:
![image](https://user-images.githubusercontent.com/118955/42411535-c7cc53ec-81d3-11e8-8acd-323c89b4aa1f.png)

On `my-app` folder, update nuxt version to 1.4.1 and add apollo module

[code]

On `nuxt.config.js`

[code]

Create `pages/cars.vue`

[2018-07-07 14:10] robsontenorio commented on #123
Ok, the problem is: an additional step is required.

[code]

The apollo module was not supposed to manage this dependency?

[2018-07-08 05:38] dohomi commented on #123
@robsontenorio not everybody is using *.gql files so its not part of the module. I will add note thanks for bringing this up

[2018-07-08 05:38] #123 closed

[2018-07-08 06:53] dohomi commented on #119
@gbouteiller I published a new release https://github.com/nuxt-community/apollo-module/releases/tag/v4.0.0-beta.6 Now you should be able to provide a path to your config. Does it fix your current issues?

[2018-07-08 06:55] dohomi commented on #120
I published a new release https://github.com/nuxt-community/apollo-module/releases/tag/v4.0.0-beta.6 Now you should be able to provide a path to your config and return your config as shown in the example. Please report back if this fixes your current issue

[2018-07-08 07:58] gbouteiller commented on #119
@dohomi it works like a charm!! Thank you for your dedication and great work!

[2018-07-08 07:58] #119 closed

[2018-07-08 12:08] TrurlMcByte commented on #122
@papertokyo I'm also use apollo-fetch for routing itself (also for sitemap.xml), but problem not in routing. Error in page components with "prefetch" (SSR). And SSR in most cases is required for seo.

[2018-07-08 12:45] TrurlMcByte commented on #122
```~base/pages/_url.vue```
[code]

```base/apollo/queries/page.gql```
[code]

```env.info``` injecting into nuxt.config before generation

[2018-07-08 13:09] robsontenorio commented on #123
The first line on README tells that module will manage .gql files. So i got confused. But the additional step solved

[2018-07-09 00:38] dohomi commented on #122
I'm not familiar with generate function of nuxt. But as far I know you are generating the html files first and this call is not really compatible with prefetch of nuxt, because once deployed you are having only client side environment. Maybe check out to use `asyncData` or `fetch` insteat of `apollo` like this:
[code]
If you are using a pure generate approach then it might make sense to check out

[2018-07-09 15:48] moltar opened #124 "Blank `authorization` is passed with every request, regardless whether or not there is a token"
### Version

[v4.0.0-beta.5](https://github.com/apollo-module/releases/tag/v4.0.0-beta.5)

### Reproduction link

[http://www.na.com](http://www.na.com)

### Steps to reproduce

An `authorization` header is always included, regardless of whether or not auth used at all. If there is no token, then the header is simply blank.

This creates a problem with a framework I'm using, which checks the heade

[2018-07-09 15:57] moltar commented on #124
As I understand now, the issue is actually with `vue-cli-plugin-apollo`.

[2018-07-09 15:57] #124 closed

[2018-07-09 17:55] papertokyo commented on #122
I'm also not across the inner workings, but afaik what Nuxt is doing during generate is doing `nuxt build` then `nuxt start` and hitting each route in the array you provide it. Prefetch is working when using the `apollo` property like below, so I don't think that's the issue.

[code]
This is the code I'm using with `@nuxtjs/apollo 3.0.6` on a `_slug.vue` page and `nuxt generate` is working as expe

[2018-07-09 20:18] TrurlMcByte commented on #122
@papertokyo I have this issue only with new nuxt-apollo, inside build-in generated plugin. Really this issue not related to nuxt itself or apollo at all, but only to authentication functions of http-link, used by apollo.

[2018-07-09 20:41] Arne-Winter commented on #122
facing the same issue here, everything works decently (using nuxt start/dev) except for the generated static files.

my component is super simple.
[code]

during generation I get the following error in the console:
[code]

tried using the asyncData approach mentioned above, but no luck here.
I'd really appreciate if someone had an idea on how to resolve this

[2018-07-09 20:51] TrurlMcByte commented on #122
I have fixed it just by add
[code]
directly in ```node_modules/@nuxtjs/apollo/lib/templates/plugin.js``` before each line with ``cookie.parse(req.headers.cookie || '')``` string. But it's dumb way...

[2018-07-10 01:30] dohomi commented on #122
Since version beta.6 you can provide a plugin path to your own function as described here:
https://github.com/nuxt-community/apollo-module/releases/tag/v4.0.0-beta.6
You can overwrite the `getAuth` with your own function to solve this. I will release a new version with the fix of cookie.parse function

[2018-07-10 10:22] TrurlMcByte commented on #122
excellent, the issue is solved

[2018-07-10 10:22] #122 closed

[2018-07-10 13:18] #120 closed

[2018-07-10 14:23] tomdavies commented on #120
Thanks for the releas @dohomi, back on the project that’s using this tomorrow so will update and test then

[2018-07-10 15:20] moltar commented on #124
Fix https://github.com/Akryum/vue-cli-plugin-apollo/pull/38

[2018-07-11 09:57] kieusonlam opened #125 "I keep getting Mismatching childNodes vs. VNodes with v-for"
### Version

[v4.0.0-beta.7](https://github.com/apollo-module/releases/tag/v4.0.0-beta.6)

### Reproduction link

[https://github.com/nuxt-community/apollo-module](https://github.com/nuxt-community/apollo-module)

### Steps to reproduce

It's happen on my 2 project. I just using normal code.

[code]
When I add any tag before or after "v-for" tag I got "Mismatching childNodes vs. VNodes".

![mismat

[2018-07-11 09:59] kieusonlam commented on #125
I wonder is there anyone get the same problem or just me?

[2018-07-11 12:11] dohomi commented on #125
I honestly don't use `prefetch:true` in my app so I can't tell. If you have a reproduction to trace down the error would be perfect

[2018-07-11 12:13] dohomi commented on #125
before I forget: is this new or happened on other versions as well?

[2018-07-12 03:08] kieusonlam commented on #125
I not quire sure when it's happened, as I remember it used to work.

 And yes I did try some older version, still got the same problem.

Here is the repo: https://github.com/kieusonlam/apollo-module-issue-125

I did try to replace prefetch with asyncData
[code]

In some place it's work, in some place it's not @_@

By the way if I view source of the web page, I can see that SSR is render correctly,

[2018-07-12 03:46] kieusonlam commented on #125
My bad, I can reconfirm that asyncData is work as the replacement.

[2018-07-12 04:40] dohomi commented on #125
@kieusonlam for me this sounds like an issue rather on Nuxt or vue-apollo than this wrapper. To overcome SSR issues I mostly use your `asyncData` approach to make sure that everything is fetched on the server.

[2018-07-12 05:15] kieusonlam commented on #125
Think you right.

I feel like `prefetch` is better `asyncData` for some case. For me sometime the api server can take long time to response, so the vistor have to wait for the data until go to the next page. With prefetch, I can take visitor to the next page faster with the loading placeholder on components. I feel like it's much better for UX.

It would be nice if someone can fix it. I will close

[2018-07-12 18:07] dmrz commented on #99
Why is it closed? I think this is still an issue. Any updates?

[2018-07-13 02:20] kieusonlam commented on #125
Hey @dohomi

Just wanna let you know, I just tried my old code, it's weird because it's working without problem. https://github.com/kieusonlam/apollo-module

[2018-07-13 02:36] dohomi commented on #125
then there must be a bug :-) can you diff the current plugin with your fork and see what might be the issue? All I'd think of is the getAuth function might differs on server to client - that might result in the render issue. Lets say you have on server different credentials than on client than both requests will deliver different result and so the render will be different as well

[2018-07-13 03:05] kieusonlam commented on #125
I created a PR https://github.com/nuxt-community/apollo-module/pull/126

[2018-07-13 03:08] #125 closed

[2018-07-13 10:26] lindesvard opened #127 "Support for adding options for HttpLink"
### What problem does this feature solve?

Would be nice to be able to set if apollo should use GET or POST for queries. Default behavior is POST.

apollo-http-link have a option called `useGETForQueries`

Read more here: https://www.apollographql.com/docs/link/links/http.html#options

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> communi

[2018-07-14 02:08] kieusonlam commented on #127
`apollo-module` depend on `vue-cli-plugin-apollo` to create apollo client, so I think you should do a feautre request on that module.

By the way I not tried it yet, but I think you can create your own `apollo-http-link` to use for your project, because `vue-cli-plugin-apollo` have a option for you to create your own link. Maybe something like this will work.

In `nuxt.config.js`
[code]
In `part-t

[2018-07-17 16:19] papertokyo commented on #120
Sorry to resurrect this one @dohomi...on `4.0.0-rc0`, I'm using the path option to import a custom cache with fragmentMatcher. The `apollo-module.js` file appears to contain the config as expected, but I'm still getting both `client.cache.extract is not a function` and `cache.transformDocument is not a function` whenever I try to load a page.

Here's the config object that gets generated:

[code]

[2018-07-17 20:37] timhanlon commented on #120
@dohomi I was just able to upgrade a project which uses a custom cache object from ^3.0.6 to 4.0.0-beta.6 without any code changes – thanks!

[2018-07-17 20:43] tomdavies commented on #120
@dohomi circling back to say that 4.0.0-beta6 fixed my issue and the module is working great for me now - many thanks

[2018-07-18 01:03] dohomi commented on #120
good to hear! thanks for reporting it back

[2018-07-18 01:05] dohomi commented on #127
as @kieusonlam mentioned you would need to provide your own link. Beside that you might also raise an issue on `vue-cli-plugin-apollo`. Will close this issue now reopen it if you bump into issues with creating your own link.

[2018-07-18 01:05] #127 closed

[2018-07-18 01:19] timhanlon commented on #120
@dohomi Unfortunately I was mistaken, the custom cache keys weren't being set. I've just tried to follow the pattern @tomdavies used, but I'm getting that same `cache.transformDocument is not a function` error. Currently on 4.0.0-beta.8.

Here's the generated `apollo-module.js`:

[code]

[2018-07-18 01:22] dohomi commented on #120
@timhanlon currently rc0 is already out with some bugfixes. Beside that, are you providing your config to the path of your config file? Because thats essential for your use case

[2018-07-18 01:30] timhanlon commented on #120
@dohomi Thanks, rc0 has fixed the issue – I'm back to using the same config I was with v3.

[2018-07-19 00:34] dohomi commented on #99
@dmrz I meant use asyncData or fetch like this:
[code]

[2018-07-20 00:34] hoon-dialog opened #130 "Clone function properties in configuration"
### What problem does this feature solve?

The documentation on https://github.com/nuxt-community/apollo-module states

    apollo: {
      clientConfigs: {
        default: {
          httpEndpoint: 'https://graphql.datocms.com',
          getAuth: () => 'Bearer your_token_string'
        },
      }
    },

Unfortunately the getAuth property is always set to the default function as JSON.stringify

[2018-07-20 00:49] hoon-dialog opened #131 "Allow for relative path in httpEndpoint configuration"
### What problem does this feature solve?

The httpEndpoint configuration property must be specified with an absolute path at time of build.

This change will allow this to be done at runtime, note it depends on https://github.com/nuxt-community/apollo-module/issues/130 being implemented as well.

### What does the proposed changes look like?

In module.js:24

    } else if (typeof clientConfig.ht

[2018-07-20 00:50] dohomi commented on #130
@hoon-dialog you don't have to use an object, you can also pass a path which will solve your current issue (2 steps required):
https://github.com/nuxt-community/apollo-module/blob/master/test/fixture-static-auth/nuxt.config.js#L16
https://github.com/nuxt-community/apollo-module/blob/master/test/fixture-static-auth/plugins/apollo-config.js#L5

[2018-07-20 00:53] dohomi commented on #131
@hoon-dialog please read the comments of your previous issue. I think using a path to your config will solve the issue if I'm understanding your usecase right.

[2018-07-20 00:56] hoon-dialog commented on #130
@dohomi thanks for the info. I will try using your suggestion.

Perhaps the documentation needs to be revised?

[2018-07-20 01:19] hoon-dialog commented on #131
@dohomi Thanks for that. I have followed your suggestion and I can make it work for me as it does execute at runtime. However, the process.env variables set in my .env file are not propagating. Are these expected to be persisted? I assumed these were only available at _build time_.

[2018-07-20 01:31] hoon-dialog commented on #131
@dohomi I had to export the process.env.HTTP_ENDPOINT in my nuxt.config.js and use the context variable instead of process.

[2018-07-20 01:31] #131 closed

[2018-07-20 04:58] dohomi commented on #130
@hoon-dialog the docs are stating your exact usecase: https://github.com/nuxt-community/apollo-module#setup
Feel free to add more comments in case it was not clear how to set up the endpoint with a path instead of object

[2018-07-20 05:11] hoon-dialog commented on #130
@dohomi Your suggestion works well as described. Thanks very much.

This issue is specifically referring to the documentation on

https://github.com/nuxt-community/apollo-module#authentication

  For permanent authorization tokens the setup just provide getAuth function for each of your endpoint configurations:

    apollo: {
      clientConfigs: {
        default: {
          httpEndpoint: 'https

[2018-07-20 22:25] timhanlon opened #132 "Auth issue with multiple clients"
### Version

[v4.0.0-rc.0](https://github.com/apollo-module/releases/tag/v4.0.0-rc.0)

### Reproduction link

[https://gist.github.com/timhanlon/58822149b6c528ad42b8e44fd9762f81](https://gist.github.com/timhanlon/58822149b6c528ad42b8e44fd9762f81)

### Steps to reproduce

Both client configs and the generated `apollo-module.js` are in this gist: https://gist.github.com/timhanlon/58822149b6c528ad42b

[2018-07-24 03:15] samirph commented on #99
I'm still calling my apollo query after the page is created so the route parameters are already accessible.
Gonna try using prefetch again based on the example above or just update this dependency and see if it's fixed.

[2018-07-24 09:42] razorabhu1995 opened #134 "File Upload with apollo-module"

[2018-07-24 09:42] #134 closed

[2018-07-25 13:42] dohomi commented on #132
@timhanlon I just released the PR thanks

[2018-07-25 13:42] #132 closed

[2018-07-25 20:45] jon-ht opened #137 "Cannot find module 'es6-promise/auto'"
### Version

[v4.0.0-rc.1](https://github.com/apollo-module/releases/tag/v4.0.0-rc.1)

### Reproduction link

[https://github.com/jon-ht/dnc-pwa](https://github.com/jon-ht/dnc-pwa)

### Steps to reproduce

[code]

Open http://localhost:3000

If you comment `@nuxtjs/apollo` under `nuxt.config.js` modules, it all works as expected

### What is expected ?

Default page should show up

### What is act

[2018-07-30 10:13] DanielLourie opened #138 "Example project for apolllo-link-state with nuxt"
### What problem does this feature solve?

Docs/config for setting up apollo-link-state with nuxt

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/apollo-module/issues/c122">#c122</a>)</em></sub></div>

[2018-07-30 14:23] KevinSupertramp commented on #123
Hi, I have the same problem even after installing `npm install --save graphql-tag`.
nuxt.config.js is the following:

`module.exports = {
  /*
  ** Headers of the page
  */
  head: {
    title: 'title',
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { hid: 'description', name: 'description', content: 'desc' }
    ],
    lin

[2018-07-31 11:59] dohomi commented on #137
this seems unrelevant to this package. did you re-run npm install or npm update?

[2018-07-31 12:01] dohomi commented on #123
@KevinSupertramp did you try remove and add it again? your issue should be solved by
[code]

[2018-07-31 12:08] jon-ht commented on #137
Yes, I did. I've tried on several projects and each time I activate `@nuxtjs/apollo`, build fails but not always with this error.

For example, if i create a project based on https://github.com/vuetifyjs/nuxt and I add `@nuxtjs/apollo`, then stylus loader fails resolving imports in `.styl` files.

I could give you an exception trace for this case if needed

[2018-07-31 12:29] chanlito opened #139 "Problem with nodeExternals usage"
So this is how I'm using:

[code]

And the apollo-module is replacing it, which is causing me issue.

https://github.com/nuxt-community/apollo-module/blob/6345b8b5323e51bc1553b9d55de782a785003654/lib/module.js#L63

[2018-07-31 12:29] #139 closed

[2018-07-31 12:34] jon-ht commented on #137
@dohomi Thanks ! It seems to work when manually adding `npm i es6-promise`, with or without `@nuxtjs/pwa` enabled

[2018-08-02 15:21] AndrewBogdanovTSS opened #140 "Apollo module brakes transpiling of 3rd party libraries"
### Version

[v4.0.0-rc.1](https://github.com/apollo-module/releases/tag/v4.0.0-rc.1)

### Reproduction link

[https://github.com/AndrewBogdanovTSS/nuxt-bt-vue-apollo](https://github.com/AndrewBogdanovTSS/nuxt-bt-vue-apollo)

### Steps to reproduce

- Add Bootstrap-Vue dependencie
- Create a bt-vue plugin to only include specific components
- Add @nuxt/apollo plugin
- Connect apollo module in nuxt

[2018-08-02 16:53] AndrewBogdanovTSS opened #141 "Apollo module brakes compilation of Element UI library when custom scss variables are used"
### Version

[v4.0.0-rc.1](https://github.com/apollo-module/releases/tag/v4.0.0-rc.1)

### Reproduction link

[https://github.com/AndrewBogdanovTSS/nuxt-apollo-element-ui-test](https://github.com/AndrewBogdanovTSS/nuxt-apollo-element-ui-test)

### Steps to reproduce

- Add Element UI dependency
- Create an element UI plugin to only include specific components
- Change theme color by overriding cus

[2018-08-04 15:25] kavalcante commented on #141
I had the same error, solves when adding ```element-ui/lib/theme-chalk/display.css``` in css object on ```nuxt.config.js```

[2018-08-04 15:37] kavalcante commented on #141
Another aproach is doing this thing:

[code]

[2018-08-05 01:34] dohomi commented on #141
as I con't use element-ui I'm not sure how to fix it. any PR is welcome

[2018-08-05 20:23] timhanlon opened #142 "Set expiration date of cookie"
### What problem does this feature solve?

Cookies set by the `onLogin` helper do not expire.

`js-cookie` supports setting the number of days before expiry like this: `Cookies.set('name', 'value', { expires: 7 });`.

### What does the proposed changes look like?

A `tokenExpires` or `cookieExpires` option in `clientConfigs`, which is passed to `js-cookie`.

<div align="right"><sub><em>This featur

[2018-08-06 00:12] dohomi commented on #142
@timhanlon sounds like a good idea to me. I won't have time the following two weeks to work on any features but happy to receive PR's

[2018-08-07 02:15] kieusonlam commented on #142
I exact what I need too :) PR https://github.com/nuxt-community/apollo-module/pull/143

[2018-08-08 13:37] AndrewBogdanovTSS commented on #141
@kavalcante suggested workaround doesn't work for me, but even if it did, I think such workarounds actually brakes the whole purpose of partial Element UI compilation since you have to include all CSS without an ability to modify stuff over SCSS and reduce the bundle size.
@dohomi same is happening with Bootstrap-Vue library: https://cmty.app/nuxt/apollo-module/issues/c125
I wonder how is it possi

[2018-08-08 14:25] kavalcante commented on #141
@AndrewBogdanovTSS Actually you can import partial stuffs and use SCSS to reduce bundle size, with this:

[code]

But I do agree that is just a workaround. Maybe is useful for someone until problem be solved.

[2018-08-08 15:26] AndrewBogdanovTSS commented on #141
[code]
@kavalcante wouldn't it import all css of the theme completely?

[2018-08-08 16:52] kavalcante commented on #141
I try to debug the problem, the error is happening when using this way:

`import 'LIB/relative-path'`

And in my reproduction it's happen only with nuxt, and not apollo-module. Maybe this issue and #140 need be moved to `nuxt` official repository. What do you think @dohomi?

Again, to solve this issue, you can do like this:

`import '../node_modules/LIB/relative-path'`;

Reproduction: https://gith

[2018-08-09 00:50] dohomi commented on #141
In my opinion the problem described here is how to import other component libraries. I don't have experience in element-ui or other mentioned libs (I use vuetify). I needed to enable es5 rules inside of my webpack config to import components. This module is most likely not responsible for the thrown errors but the NuxtJs webpack config

[2018-08-09 08:01] AndrewBogdanovTSS commented on #141
@dohomi and that's exactly what's causing the issue. Right now you current config is written in such a way that it overwrites anything that was previously whitelisted. Instead, it should augment current list of libs that already whitelisted. I was able to fix the problem by changing
node_modules/@nuxtjs/apollo/lib/module.js:64 line from:
[code]
to
[code]
Another way to handle it would be fully com

[2018-08-09 08:39] dohomi commented on #141
@AndrewBogdanovTSS I thought that is chained and not overwritten. @Atinux @Akryum do you guys know the right way of setting `nodeExternals`? I am not sure what would be the right setup.

[2018-08-12 16:49] chanlito opened #144 "Problem with Nuxt Apollo with clientState"
### Version

[v4.0.0-rc.1](https://github.com/apollo-module/releases/tag/v4.0.0-rc.1)

### Reproduction link

[https://github.com/chanlito/nuxt-apollo-link-state-bug](https://github.com/chanlito/nuxt-apollo-link-state-bug)

### Steps to reproduce

1. Run the app.
2. Reload the page to see issue.

### What is expected ?

Expect default state to change.

### What is actually happening?

Default stat

[2018-08-13 20:39] Atinux commented on #141
@dohomi You can use `build.transpile` with Nuxt.js, see https://github.com/Atinux/nuxt-bt-test/blob/master/nuxt.config.js#L4

[2018-08-13 23:58] dohomi commented on #141
@Atinux thanks for the heads up. could somebody with this issue open a PR and see if the use of transpile works to fix the bug with bootstrap/element-ui? I don't have the right setup at the moment and not a lot of time  - work is currently eating me alive

[2018-08-14 13:54] AndrewBogdanovTSS commented on #141
@Atinux @dohomi I can confirm that it's working when `transpile` option is used. I replaced
[code]
with
[code]
and it started working properly, at least with element-ui lib (I will try it with bt-vue a bit later). The bonus point in all of this is that specifying additional transpile in the project config for element-ui wasn't even necessary. Though I have some concerns with the behavior of `trans

[2018-08-14 15:03] AndrewBogdanovTSS commented on #141
Ok, so I can confirm that the same approach is working flawlessly with bt-vue, now I can specify
[code]
and it won't be overwritten by Apollo! Hurrray!
@dohomi when will we be able to push this update to apollo module? I really need this.
Speaking about some additional improvements, using addVendor is no longer necessary with Webpack 4 and can be removed.
[code]
It looks like we really need an upd

[2018-08-14 16:49] luis-rocha commented on #137
I get the same issue, but I don't even get to rendering. When I add @nuxtjs/apollo to nuxt.config.js, I would get a Nuxt error
`TypeError: Cannot convert undefined or null to object`
So after reading this thread, I added es6-promise, and the above error went away, and I get a line that says `DONE  Compiled successfully in -10314ms`, but...the page still doesn't load, and I don't get the line that

[2018-08-14 19:21] dfee opened #145 "wsEndpoint requires the `ws` protocol"
### Version

[v4.0.0-rc.1](https://github.com/apollo-module/releases/tag/v4.0.0-rc.1)

### Reproduction link

[https://github.com/nuxt/nuxt.js/tree/dev/examples/vue-apollo](https://github.com/nuxt/nuxt.js/tree/dev/examples/vue-apollo)

### Steps to reproduce

Use the default configuration in the tutorial (and assuming that you've got a ws endpoint on `localhost:4000`):

[code]

You'll get the foll

[2018-08-14 23:36] dfee commented on #145
I guess that's documented here: https://github.com/Akryum/vue-cli-plugin-apollo#env-variables

[2018-08-15 00:31] dohomi commented on #141
@AndrewBogdanovTSS this package is still using Nuxt 1.4.x and not nuxt-edge so I can't remove the vendor (yet). I still wait for the v2 release to add this change.

@AndrewBogdanovTSS would you mind open a PR with your changes? I think this change may affect other open issues as well.

[2018-08-15 01:04] dfee commented on #145
... no.

![untitled](https://user-images.githubusercontent.com/262602/44125957-425528c6-9fea-11e8-8742-b82c78333e22.png)

The documentation is wrong. it should be `ws://...`. That was the first thing I hit when using this package.

[2018-08-15 06:47] AndrewBogdanovTSS commented on #141
@dohomi I sure can. My only concern - should we keep consistency with Nuxt 1? @Atinux maybe you could recommend a solution that would work for Nuxt 1.4 since transpile option won't be available for this version of Nuxt ?

[2018-08-15 10:18] AndrewBogdanovTSS commented on #141
@dohomi how can I make a PR into your repo? When I try creating a branch and push my changes I get a 403 forbidden error. Should I for it first?

[2018-08-16 07:01] razorabhu1995 commented on #116
@dohomi Can you please provide me with example of setup and query
for apollo-upload-client

Problem: have not been able to upload image in NUXTJS

[2018-08-23 17:41] adamkhan commented on #99
@samirph I hadn't realized this is not working server-side and is being rendered client-side, but viewing source, yes, there's nothing there. So I hope you can get this working. Haven't tried @dohomi's suggestion to use asyncData

[2018-08-24 06:12] dohomi commented on #99
@samirph try following:
[code]
You have to return the exact same arguments on prefetch and variables.

[2018-08-24 16:20] adamkhan commented on #99
@samirph and @dohomi, this works for me. Thank you very much, I have content upon initial load of my pages!

[2018-08-29 09:02] igtm opened #149 "global errorHandler is not configurable"
### What problem does this feature solve?

I'd like to set my custom errorHandler.
but it doesn't seem to be configurable.
https://github.com/nuxt-community/apollo-module/blob/master/lib/templates/plugin.js#L75-L77

Are there any plan of adding this feature?

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.a

[2018-08-29 10:13] dohomi commented on #149
@igtm feel free to add a PR - I won't have the time at the moment to include this feature

[2018-08-29 10:15] #145 closed

[2018-08-29 10:16] dohomi commented on #142
feature is merged

[2018-08-29 10:16] #142 closed

[2018-08-31 23:48] a-zog opened #154 "ApolloProvider.provide() is deprecated. Use the 'apolloProvider' option instead..."
### Version

[v4.0.0-rc.1](https://github.com/apollo-module/releases/tag/v4.0.0-rc.1)

### Reproduction link

[https://cmty.app/nuxt/issues/new?type=bug-report&repo=apollo-module](https://cmty.app/nuxt/issues/new?type=bug-report&repo=apollo-module)

### Steps to reproduce

Run the app.

### What is expected ?

To run smoothly as it was few days ago

### What is actually happening?

Two error messa

[2018-08-31 23:53] a-zog opened #155 "ApolloProvider.provide() is deprecated. Use the 'apolloProvider' option instead..."
### Version

[v4.0.0-rc.1](https://github.com/apollo-module/releases/tag/v4.0.0-rc.1)

### Reproduction link

[https://cmty.app/nuxt/issues/new?type=bug-report&repo=apollo-module](https://cmty.app/nuxt/issues/new?type=bug-report&repo=apollo-module)

### Steps to reproduce
Get a fresh nuxt install
Install / Config Apollo Module
Run the app

### What is expected ?

To run smoothly as it was few days

[2018-09-01 02:18] nodegin opened #156 "TypeError: apolloProvider.prefetchAll in vue-apollo@3.0.0-beta.20"
If I ran fresh npm install, `vue-apollo@3.0.0-beta.20` will be installed.

When running the application, the app will die from `TypeError: apolloProvider.prefetchAll is not a function`

However `npm i -S vue-apollo@3.0.0-beta.19` fixed this issue.

<div align="right"><sub><em>This question is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/apollo-mod

[2018-09-01 12:19] #154 closed, assigned to nobody

[2018-09-01 12:56] bjunc commented on #156
Check out my issue from yesterday: https://cmty.app/nuxt/apollo-module/issues/c134

A quick fix is to use `resolutions` in your package.json file to explicitly reference beta.16 (non-breaking) until a new version of this module is released.

@dohomi my suggestion would be to nix the `^` since vue-apollo is technically in beta and breaking changes are excusable.

[2018-09-05 10:18] DuyguKeskek commented on #155
The error is gone on my end when I remove `provide()` method. Have a look at this :
[code]

[2018-09-05 20:46] dohomi commented on #156
@bjunc @nodegin could you guys verify if the https://github.com/nuxt-community/apollo-module/pull/158 is fixing your issue?

[2018-09-05 20:47] dohomi commented on #155
Can you guys try this PR and see if it fixes the issue: https://github.com/nuxt-community/apollo-module/pull/158

[2018-09-05 20:48] dohomi commented on #141
Can you guys try this PR and see if it fixes the issue: https://github.com/nuxt-community/apollo-module/pull/158

[2018-09-05 20:48] dohomi commented on #140
Can check if this PR fixes the issue: https://github.com/nuxt-community/apollo-module/pull/158

[2018-09-06 09:46] a-zog commented on #155
Fixed, thanks a lot for both of you

[2018-09-06 09:46] #155 closed

[2018-09-06 14:50] Nainterceptor commented on #156
Hello,

`npm i nuxt-community/apollo-module#vue-apollo-upgrade-beta-21`
Seems to fix my error "apolloProvider.prefetchAll is not a function".

Thanks, I'll stick on this branch until this module release a new version, thanks

[2018-09-07 21:43] nodegin commented on #156
@dohomi I got it working now with `npm i nuxt-community/apollo-module#vue-apollo-upgrade-beta-21` and `vue-apollo@3.0.0-beta.20`

However another error thrown on console:

`TypeError: Cannot read property '$ssrContext' of undefined`

In addition I am facing another issue now, in stable release (`^4.0.0-rc1` and `vue-apollo@3.0.0-beta.19`), the onLogin token expire is not able to use, the cookie wi

[2018-09-07 22:00] nodegin commented on #156
`vue-apollo` released beta.22 fixes this bug.

[2018-09-09 08:05] ishitatsuyuki commented on #156
Not fixed at all. Please reopen.

[2018-09-10 06:40] dohomi commented on #156
@ishitatsuyuki I just updated the dependency in #158 can you check if this resolves your issue?

[2018-09-10 07:51] PierrickP commented on #156
@dohomi working for me. Thanks

[2018-09-10 13:10] Atinux commented on #156
I think you can update it and publish a new version @dohomi :)

[2018-09-10 19:28] AndrewBogdanovTSS commented on #141
@dohomi when will this fix be released? I suppose it should be released under rc2, but when will it be released?

[2018-09-11 11:33] ApricumMedia commented on #156
Unfortunately, it seems `"vue-apollo": "3.0.0-beta.25"` has reintroduced the issue. I pinned the version by `resolutions` to fix the class-component issue (2 days ago, wasn't it?).

[2018-09-11 13:39] dohomi commented on #156
@ApricumMedia see my comments in https://github.com/nuxt-community/apollo-module/pull/158
I'm not sure which version is suitable - I run the `apollo-module rc1` and `vue-apollo beta.19` at the moment

[2018-09-11 14:59] Somtom commented on #140
I think I have a similar problem (same Version)

Adding `@nuxt.js/apollo` to the modules leads to this error:

[code]

Only removing the `@nuxt.js/apollo` from modules, without doing anything else, prevents that error.

[2018-09-12 13:26] fsc7 commented on #123
I am receiving this message:
These dependencies were not found:

* ~/apollo/queries/allCars in ./node_modules/babel-loader/lib?{"babelrc":false,"cacheDirectory":true,"presets":[["/home/felipe/storage/repos/aramis/frontend/node_modules/babel-preset-vue-app/dist/index.common.js",{"targets":{"ie":9,"uglify":true}}]]}!./node_modules/vue-loader/lib/selector.js?type=script&index=0!./pages/car.vue
* ~/ap

[2018-09-12 13:26] AndrewBogdanovTSS commented on #141
@dohomi yes I've tested it before committing and it works well for me. What exact issues are you facing with it?

[2018-09-12 13:28] dohomi commented on #141
@AndrewBogdanovTSS please read the comments of #158
I face an issue with the current beta.25 at the moment thats why rc2 isn't released yet

[2018-09-12 13:30] negezor commented on #141
Now sometimes can not find `Vue.extend()`

[2018-09-12 15:46] AndrewBogdanovTSS commented on #156
@dohomi why are you using ^ caret inside the versioning? Maybe it would be a better idea to remove that caret so all people that use your package could at least be sure that it won't break by itself by upgrading to newer versions of vue-apollo versions you don't support?
What I suggest is switch
`"vue-apollo": "^3.0.0-beta.19"`
to
`"vue-apollo": "3.0.0-beta.19",`

[2018-09-12 17:49] dohomi commented on #156
@AndrewBogdanovTSS the reason is first that there hasn't been any breaking change for the past 10 months while working with `vue-apollo`. I thought 3 days ago I could ship rc2 with the most current changes - now everything seems to be delayed with fixes. But yeah... you are right I'll release rc2 temporarily with beta.19 later the evening

[2018-09-12 17:55] dohomi commented on #141
rc2 just released but this won't fix this issue. Still waiting until #158 can be merged

[2018-09-12 19:40] ApricumMedia commented on #156
@dohomi Despite all the nagging, your work on the module is still highly appreciated, Dominic — just wanted to leave you a thanks for that.

[2018-09-13 07:31] fsc7 commented on #123
If I add the .gql extension I get the same error as @KevinSupertramp .
I already installed graphql-tag with npm but nothing is working.

[2018-09-13 07:37] dohomi commented on #123
@fsc7 try removing rm -rf node_modules and rm package-lock.json and re-install with npm i. Are you using nuxt or nuxt-edge?

[2018-09-13 08:58] fsc7 commented on #123
Hello,
Thanks for your help.
I was using nuxt.config.js this way
https://github.com/nuxt/nuxt.js/blob/dev/examples/vue-apollo/nuxt.config.js
For some reason, it does not work. I replaced with your version of nuxt.config and it is working now.
Thanks

[2018-09-14 13:03] dohomi commented on #156
did I mention that rc2 is out? Hopefully rc3 will follow over the weekend.. I know that the naming convention is a bit off because this module relies on `vue-apollo` which by itself declares in beta. But for sure there will be stable releases coming up soon with less breaking changes and fiddling around

[2018-09-15 11:35] robsontenorio commented on #123
Try allCars.gql

See also README issue about loading gql files.

[2018-09-15 20:30] Vlaoff opened #159 ""Uncaught ReferenceError: require is not defined" when using nuxt-edge"
### Version

[v4.0.0-rc.2](https://github.com/apollo-module/releases/tag/v4.0.0-rc.2)

### Reproduction link

[https://github.com/Vlaoff/apollonuxt](https://github.com/Vlaoff/apollonuxt)

### Steps to reproduce

I get the error when I launch nuxt and open it in the browser

### What is expected ?

Babel should transpile the require

### What is actually happening?

Babel keeps the require

### Add

[2018-09-19 21:10] Nainterceptor commented on #159
Same error here, but, as explained in referenced issue, `npm i graphql` to put version 14.0.2 seems to be a working work around.

[2018-09-21 23:37] aldarund commented on #159
@Vlaoff That should be fixed, could you try? ( delete lock file and reinstall)

[2018-09-24 21:52] kavalcante opened #160 "Handling Errors when using asyncData"
### Version

[v4.0.0-rc.2](https://github.com/apollo-module/releases/tag/v4.0.0-rc.2)

### Reproduction link

[http://cant-reproduce-because-its-to-complicate-to-simulate-a-specific-error.com](http://cant-reproduce-because-its-to-complicate-to-simulate-a-specific-error.com)

### Steps to reproduce

Sometimes Apollo send errors reports with data included. For example, ACL errors (calling that some

[2018-09-25 06:39] dohomi commented on #160
@kavalcante I don't think that I have any solution for your issue. I'd suggest to isolate your queries into multiple try catch blocks - I think this is even recommend in your case

[2018-09-25 08:52] igtm opened #161 "defaultOptions is not configurable"
### What problem does this feature solve?

I'd like to set `defaultOptions` [like this](https://github.com/Akryum/vue-apollo/blob/f60cf4d4a594568ebf4e288cd083579bbce09b3a/docs/guide/apollo/README.md#special-options).
But it does't seem to be configurable.

Any plan of adding this feature?

Thanks in advance.

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.ap

[2018-09-25 09:35] AndrewBogdanovTSS commented on #156
@dohomi any news about RC3 ?

[2018-09-25 12:54] kavalcante commented on #160
@dohomi The problem with isolating in multiple try/catch blocks it's that when you catch the problem, only returns the error, not included the data.

Maybe the only solution as far I know, is not using SSR in this specific page. Because with the common apollo call, it's work. Because all errors are sended to `error` callback.

Thanks for the support @dohomi

[2018-09-25 12:54] #160 closed

[2018-09-26 11:46] aldarund commented on #159
Now its only fixed for vue-cli-plugin-apollo 0.17 while here its set as 0.16
https://github.com/nuxt-community/apollo-module/blob/master/package.json#L31
So a bump of vue-cli-plugin-apollo required
@dohomi

[2018-09-27 07:43] rwuttke commented on #159
And I think the same with graphql-tag, this uses graphql ^0.13.0, and upgrading to vue-cli-plugin-apollo uses graphql ^14.0.2.

So it looks like we need to wait for this one as well.

https://github.com/apollographql/graphql-tag/issues/208

[2018-09-27 17:51] dweldon opened #162 "IE 11 polyfill broken with Nuxt 2.0 + apollo-module"
### Version

[v4.0.0-rc.2](https://github.com/apollo-module/releases/tag/v4.0.0-rc.2)

### Reproduction link

[https://github.com/dweldon/nuxt-polyfill-issue](https://github.com/dweldon/nuxt-polyfill-issue)

### Steps to reproduce

git clone https://github.com/dweldon/nuxt-polyfill-issue.git
cd nuxt-polyfill-issue && npm i
npm start

Navigate to http://localhost:3000/

### What is expected ?

The

[2018-09-27 20:38] clarkdo commented on #162
Sorry about that I have some personal stuff recently, I’ll look into it immediately when available.

[2018-10-01 08:53] kieusonlam opened #163 "Cannot stringify POJOs with symbolic keys on nuxt 2"
### Version

[v4.0.0-rc.2](https://github.com/apollo-module/releases/tag/v4.0.0-rc.2)

### Reproduction link

[https://github.com/nuxt-community/apollo-module](https://github.com/nuxt-community/apollo-module)

### Steps to reproduce

I get this error after update nuxt 2.0.0 to 2.1.0, revert back to 2.0.0 still geting the problem. It's happen on my both 2 project when return the value that query by

[2018-10-01 09:41] mahadoang opened #164 "vendors.app.js:11402 Uncaught ReferenceError: require is not defined"
**Version**
[v4.0.0-rc.2](https://github.com/apollo-module/releases/tag/v4.0.0-rc.2)

**Reproduction link**
[https://github.com/nuxt-community/apollo-module](https://github.com/nuxt-community/apollo-module)

**Steps to reproduce**

1. npx create-nuxt-app test-nuxt
2. cd test-nuxt
3. npm install --save @nuxtjs/apollo
4. add nuxt.config.js

[code]

5. npm run dev

display error on browser

[code]
ho

[2018-10-01 09:41] #164 closed

[2018-10-01 15:59] dohomi commented on #163
@kieusonlam apollo-module is currently not prepared for Nuxt v2 yet. There are currently opened issues with vue-apollo and I'm not sure whats the right way to circumvent the current situation. You can follow #158 where I started to upgrade but I'm kind of stuck currently with SSR compatibility. Beside that I also don't have a Nuxt v2 project in place to run. Please feel free to contribute in the P

[2018-10-03 08:38] filipwronski opened #165 "How I can assigne more values on client side to server side result?"
I'm creating listing with load more option. On server side I'm loading first 12 results of query and on client side I want to add values from "load more" to server side result.

On server side I haven't access to "this" so i don't now how assign to result of server side and client side to the same variable -1

Here is my query:
[code]

[2018-10-03 08:38] #165 closed

[2018-10-03 12:54] evseevnntmp commented on #163
@kieusonlam Yes, i got same. Do you know reason for that?

[2018-10-03 16:08] bjunc commented on #163
I ran into this error this morning when attempting to upgrade to Nuxt 2.1.  After some investigating, I was able to get it to work by cloning the Apollo response. I typically do this anyway due to how Apollo returns data as read-only, but this one particular page returning the error was one area I wasn't cloning.  Here's an example:

Throws error in Nuxt 2.1:
[code]

Works in Nuxt 2.1:
[code]

I h

[2018-10-04 12:47] aldarund commented on #163
https://github.com/nuxt/nuxt.js/pull/4046

[2018-10-04 12:48] aldarund commented on #163
@bjunc warning is coming instead of error. As for symbolic keys - they wasnt serializing before too, they was just silently ignored. Symbol are not really serializable thing..

[2018-10-04 13:47] bjunc commented on #163
Thanks @aldarund.  Also nice that you're printing the symbol keys that couldn't be stringified for debugging.

I looked a little bit more into this, and it turns out Apollo uses a symbol for the ID; which I believe is used for internal caching. That means _every_ apollo response will trigger the warning that you've written unless the developer plucks only the serializable data.  Since Apollo also

[2018-10-05 11:34] davision commented on #163
I believe this has no connection with apollo. Using this code throws the same error:

[code]

throws:

[code]

Using Nuxt 2.1

[2018-10-05 14:02] bjunc commented on #163
@davision per above, this error has more to do with the devalue module not like Symbol keys; which Apollo happens to use.  I don't know what is returned from your example, but there's likely a Symbol in there.  You can check by:

[code]

[2018-10-06 16:55] dohomi commented on #156
rc3 is just published. It has still some issues with Nuxt v2, check out the newest issues. But for Nuxt 1.4.x everything is now updated to most recent versions of vue-apollo and the cli client

[2018-10-06 17:09] dohomi commented on #137
please check most recent version of this module. Will close it for now

[2018-10-06 17:09] #137 closed

[2018-10-06 17:12] dohomi commented on #140
please check with most recent version rc3

[2018-10-06 17:12] dohomi commented on #141
rc3 got released. please check if the issue is resolved for now

[2018-10-06 17:13] #156 closed

[2018-10-06 17:14] dohomi commented on #159
should be fixed with rc3

[2018-10-06 17:14] #159 closed

[2018-10-06 17:15] dohomi commented on #161
I won't have time to implement it. But feel free to open a PR

[2018-10-06 18:49] dohomi commented on #163
@bjunc I tried your above code but for me the symbols are not removed through `lodash.clone`:
[code]
Any idea how to remove the symbols?

[2018-10-07 19:48] nodegin commented on #156
@dohomi Still seeing some strange errors in console in rc3

[2018-10-08 06:34] dohomi commented on #156
@nodegin which errors do you face?

[2018-10-08 06:39] nodegin commented on #156
@dohomi depends on which nuxt page, I have used `head`, `asyncData` methods

[2018-10-08 08:39] dohomi commented on #163
@bjunc I realized that somehow lodash.deepclone did not remove the symbols. I changed to `clone-deep` package and now it works as expected, thanks for the hint.

[2018-10-08 12:44] dohomi commented on #163
@AndrewBogdanovTSS where do you see this error? As @bjunc correctly stated, you need to clone/cloneDeep your response inside of asyncData to remove the symbolic keys. This worked for me. I am using https://www.npmjs.com/package/clone-deep to make this work

[2018-10-08 13:49] AndrewBogdanovTSS commented on #163
@dohomi yeah, after I switched to deep-clone in my code it started to work as expected. Thank you.

[2018-10-09 06:47] dohomi commented on #162
can you please check if `4.0.0.rc2.2` is fixing it for you? Are you using Nuxt v1 or v2?

[2018-10-09 06:48] dohomi commented on #141
I think with either `4.0.0.rc2.2 or rc3` this issue is resolved. But rc3 does not work with async components yet. Will close this now, feel free to reopen if the issue persist

[2018-10-09 06:48] #141 closed

[2018-10-09 06:49] dohomi commented on #140
closing this now. Should be fixed with either rc3 or rc2.2. Feel free to reopen

[2018-10-09 06:49] #140 closed

[2018-10-10 07:38] dohomi commented on #162
@dweldon I haven't experience it so far. But here is a polyfill stated: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/entries#Polyfill
Do you know where that code is used? Because this package does not use Object.entries, something seems to be not right with the setup of Babel

[2018-10-11 21:36] dweldon commented on #162
So I think progress it being made. If you do a clean checkout of the reproduction project (or remove `node_modules` and `package-lock.json`), when I build with `4.0.0-rc2.3`, I now see a spinner instead of an error page. The current error in IE11 is:

[code]

In my build that line is:
`const { ApolloLink, Observable } = __webpack_require__(/*! apollo-link */ "./node_modules/apollo-link/lib/index.j

[2018-10-14 16:34] ImreC opened #171 "Nuxt apollo module crashes ava"
### Version

[4.0.0-rc2.3](https://github.com/apollo-module/releases/tag/4.0.0-rc2.3)

### Reproduction link

[https://github.com/ImreC/nuxt-ava-problem](https://github.com/ImreC/nuxt-ava-problem)

### Steps to reproduce

- npm run test  -->  Ava crashes with 'nuxt build error'
- remove store/index.js line 1 (the gql import)  --> Ava works fine
- npm run dev always works and produces results as ex

[2018-10-16 23:52] Ayiga commented on #162
Looking into this issue, it stems directly from using [vue-cli-plugin-apollo](https://github.com/Akryum/vue-cli-plugin-apollo) specifically with it's dependency on [apollo-upload-client](https://github.com/jaydenseric/apollo-upload-client) located [here](https://github.com/Akryum/vue-cli-plugin-apollo/blob/b99182283eeb8ea49336bb1617a309269d32dc8b/graphql-client/src/index.js)

At least according to

[2018-10-26 10:20] jaec86 opened #172 "An "Uncaught TypeError" is thrown after navigating or use fetchMore"
### Version

[v4.0.0-rc.3](https://github.com/apollo-module/releases/tag/v4.0.0-rc.3)

### Reproduction link

[https://github.com/jaec86/nuxt-apollo-test](https://github.com/jaec86/nuxt-apollo-test)

### Steps to reproduce

This a test to integrate nuxt, apollo module and shopify storefront API.
1. Before starting the nuxt project you should create a shopify development store.
2. Once you have the

[2018-10-26 10:20] jaec86 opened #173 "An "Uncaught TypeError" is thrown after navigating or use fetchMore"
### Version

[v4.0.0-rc.3](https://github.com/apollo-module/releases/tag/v4.0.0-rc.3)

### Reproduction link

[https://github.com/jaec86/nuxt-apollo-test](https://github.com/jaec86/nuxt-apollo-test)

### Steps to reproduce

This a test to integrate nuxt, apollo module and shopify storefront API.
1. Before starting the nuxt project you should create a shopify development store.
2. Once you have the

[2018-10-29 01:03] lrosa007 opened #174 "Trouble with Phoenix (Elixir) & Absinthe"
I'm not 100% sure what the problem is but it seems that this module is sending off an initial HTTP GET to the socket endpoint that I config for my phoenix/absinthe server.

I've had to give this a try: https://github.com/e-lam/apollo-module-absinthe. but it'd feel a little nicer to use the officially supported library.

Is there something I can do to override some configs? Still a little new to vu

[2018-10-29 01:03] #174 closed

[2018-10-29 04:30] lrosa007 commented on #174
Ok sorted something out:

`yarn add @absinthe/socket @jumpn/utils-graphql @absinthe/socket-apollo-link apollo-link  apollo-link-http apollo-cache-inmemory phoenix `

in `nuxt.config.js`:

[code]

in `~/graphql/apollo/default.js`:
[code]

[2018-10-30 10:09] Leruiz commented on #162
I have met the same problem and solved it.

Actually, the latest ```vue-cli-plugin-apollo``` depends on ```apollo-upload-client@9.0.0```. But the exported function ```createUploadLink ```   is written with ```es6``` in   ```src/index.js``` of ```apollo-upload-client@9.0.0```, which is not supported in ```ie 11```.  So the solution is very easy, to use a version of ```apollo-upload-client``` with c

[2018-10-31 01:02] dohomi commented on #162
Shouldn't babel of the configuration take care of transpiling? For me this looks like there is some configuration missing to enable IE11. But that would be rather a Nuxt issue itself than this plugin

[2018-10-31 13:55] Leruiz commented on #162
In the webpack configurations of nuxt 2, files in ```node_modules``` are excluded by ```babel-loader``` at default. So the code of ```apollo-upload-client``` are not be transpiled. So, you have to add customized babel-loader configurations in ```nuxt.config.js``` if you want babel to handle it.

[2018-10-31 14:44] Leruiz commented on #162
Now the author of ```apollo-upload-client``` has fixed this problem and released the latest version ```v9.1.0```.  This error disappears in my project.

[2018-10-31 16:28] dweldon commented on #162
@Leruiz Thanks for the update.

When I upgrade all packages and add a polyfill for `Object.entries`, I can finally get it to run so I'll close this now.

[2018-10-31 16:28] #162 closed

[2018-11-06 18:01] mike-rotate commented on #116
@dohomi i am having this issue - i think i have setup everything up correctly but in my network request i get a 401 Unauthorized, and in the request headers i don't see an auth key/value.

[code]

`nuxt.config.js`
[code]

`pages/index.vue`
[code]

`console error`
![image](https://user-images.githubusercontent.com/32461169/48083690-be3d7e80-e1ed-11e8-93f1-aa3847e73860.png)

`no auth screenshot`
![i

[2018-11-07 00:52] dohomi commented on #116
Take a look how it is done here:
https://github.com/nuxt-community/apollo-module/tree/master/test/fixture-static-auth

[2018-11-07 15:12] ndarilek commented on #123
So assuming someone has the latest version of this client installed, the latest version of graphql-tag installed, and has blown away/reinstalled node_modules but is still having this issue, what is the recommended fix? First my .gql files weren't found, so I went through everything and added .gql extensions. Now they're not parsing, same error as above.

[code]

apollo/config.js:
[code]

package.j

[2018-11-13 10:21] gomezmark opened #176 "set custom headers"
<ApolloProvider>.provide() is deprecated. Use the 'apolloProvider' option instead with the provider object directly.
× error TypeError: apolloProvider.prefetchAll is not a function

I

[2018-11-13 10:21] #176 closed

[2018-11-13 10:35] gomezmark commented on #5
Im a little bit confused.
Did you guys put the other options on a middleware?

[2018-11-13 15:08] bviala commented on #173
I fixed it in a better way by updating apollo-client to 2.4.4:
I installed apollo client as a top level dependency:
`npm i apollo-client@2.4.4`
Then I removed it
`npm uninstall apollo-client`
And the apollo-client nested dependency ( nuxt/apollo => vue-cli-plugin-apollo => apollo-client ) stayed in version 2.4.4. There probably is a smarter way to do this, but I suck with npm 🙃

If you still have

[2018-11-14 03:11] jesseschutt commented on #161
Is there currently a way to set `defaultOptions` via client configuration file?

[2018-11-14 09:05] gomezmark opened #177 "graphql not authenticated"

[2018-11-14 09:05] #177 closed

[2018-11-15 03:42] lin-yen commented on #161
This's works for me

[code]

[2018-11-16 15:05] ndarilek commented on #123
Has anyone actually *confirmed* that this works with Nuxt 2?

I ask because this is the second time I've attempted an upgrade and .gql files don't load. I thought maybe I got something wrong the first time around, but literally all I did was bump from Nuxt 1.4.0 to Nuxt 2.3.0, all dependencies remained the same, and suddenly .gql stopped loading.

The README has a link to an official example, but

[2018-11-17 05:07] dohomi commented on #123
@ndarilek I'm using this plugin with latest Nuxt v2. Please try using v4.0.0-rc2.3 and add graphql-tag to your dependencies.
Sorry I haven't touched the testing code for a while-I'm just too busy at work currently..

[2018-11-19 22:35] ryanhmaas commented on #176
If you want custom headers, something like this will work:

nuxt.config.js

[code]

apollo/client-configs/default.js

[code]

I have it working with Shopify's API which requires a custom header.

[2018-11-20 12:33] dylanmcgowan opened #179 "Please update apollo to the neweset version... is this project staying maintained?"
### What problem does this feature solve?

The version of `vue-apollo` that `@nuxtjs/apollo` uses is riddled with bugs.  The maintainer has squashed a lot of them (almost two weeks ago) and has since released a new version.

In particular there was a bug with SSR that screams and throws errors with plugins that modify the vue prototype i.e. vee-validate.

Ive been locked in nuxt 1.4 because of thi

[2018-11-20 13:57] kevinmarrec commented on #179
I want to add that `vue-apollo` provides better TypeScript support since their `3.0.0.beta-20`, but that the `apollo-module` last stable release (rc2.3)is using `vue-apollo@3.0.0.beta-19` so there is no relevant TypeScript support.

Last update on this repo was at the beginning of October :/

[2018-11-20 15:20] dohomi commented on #179
If you guys drop in vue-apollo beta.25 I'm afraid SSR async components will break, here the reference: https://github.com/Akryum/vue-apollo/issues/402
That is the reason why this project currently pins beta.19. But there are already PR's in the queue to solve this but unfortunately none of them will work for SSR at the moment.

[2018-11-20 16:19] kevinmarrec commented on #179
@dohomi Alright thanks for the reference, Akryum seems to have made a PR on official Vue repo which should make the related issue fixed. Last PR update was 12 days ago, I hope someone of the Vue core team will merge it soon :).

Otherwise @dohomi you can confirm that we should be fine using `4.0.0-rc3` (`vue-apollo@3.0.0.beta-25`) if we don't use Async Components ?

[2018-11-20 23:51] ndan commented on #161
@lin-yen As I can see `vue-apollo` uses `provider.defaultOptions` instead of `client.defaultOptions` when building a smart query ([proof](https://github.com/Akryum/vue-apollo/blob/master/src/dollar-apollo.js#L91)).

There is no way to change `provider.defaultOptions` via `nuxt.config.js` (at least now), so I added a plugin:
[code]

Is there a better way to change `provider.defaultOptions`?

ps. I'

[2018-11-21 01:11] dohomi commented on #161
@ndan thats the preferred way for now 👍

[2018-11-21 01:41] dohomi commented on #179
@kevinmarrec please check the current master branch in your project, but I'm afraid it will fail due to the hydration issue (https://github.com/vuejs/vue/pull/9017)

I'm running `v4.0.0-rc2.3` - which is the most recent one.

[2018-11-21 08:50] kevinmarrec commented on #179
@dohomi I checked and can confirm there are issues.
I'm fine with `v4.0.0-rc2.3`, I was just missing new TypeScript definitions that have been implemented on newest versions of `vue-apollo`. I copied their types within my project and it works, it's not the best but it's a workaround until the issue is fixed.

I made a PR yesterday to provide TypeScript support, but it would need to be merged on bo

[2018-11-21 12:18] dohomi commented on #179
@kevinmarrec yes thanks I've seen it. If you like to make your TypeScript changes agains the rc2.3 I'm happy to make release a 2.4 out of it.

[2018-11-21 13:32] dylanmcgowan commented on #179
Hey thanks for responding and explaining what's going on. I wish it was easier to see the state of PRs and project roadmaps so we could know what's happening at a high level.

I'm happy that the fixes exist, really hoping they get merged soon! I really dig this package and I really dig nuxt, and yeah technical debt is inevitable but it stinks seeing projects lag behind

[2018-11-21 22:10] robsontenorio commented on #161
I think it should be as a plug-in because you can have many things that will bloat nuxt.config.js

[2018-11-22 01:38] dailycommit commented on #176
Is it possible to add a dynamic header ?
I am having trouble with Hasura, I need to determine some user roles for access control and these roles need to be added to the header like
``x-hasura-role : "user" `` or ``x-hasura-role: "admin"``  etc.
according to the logged in user can be dozens of roles so I have to change them dynamically.

[2018-11-22 20:12] creazy231 commented on #116
@mike-rotate have you solved the problem? I currently facing the same issue /:

[2018-11-23 00:01] mike-rotate commented on #116
@creazy231 following the link @dohomi gave, i changed my `nuxt.config.js` to include this...

[code]

and added a file in the `plugins` folder called `apollo-config.js` with contents like this...

[code]

[2018-11-23 00:15] creazy231 commented on #116
Awesome 👍🏻 You saved my day (:
I followed the link but it wasn't clear what I have to to. Thanks for the answer 🍪

[2018-11-23 00:19] mike-rotate commented on #116
@creazy231 yeah it took me a minute to figure it to! 👍

[2018-11-26 18:51] dweldon commented on #162
@janzheng Please see the commit history [here](https://github.com/dweldon/nuxt-polyfill-issue). I've kept the example up to date.

[2018-11-27 10:46] appinteractive opened #181 "THIS IS A SECURY ISSUE! - flatmap-stream@0.1.1"
##THIS IS A SECURY ISSUE!

### Version

[v4.0.0-rc.3](https://github.com/apollo-module/releases/tag/v4.0.0-rc.3)

### Reproduction link

[https://github.com/dominictarr/event-stream/issues/116](https://github.com/dominictarr/event-stream/issues/116)
https://www.npmjs.com/advisories/737

### Steps to reproduce

Run `yarn audit` in a project that has `@nuxtjs/apollo` as a dependency.

![Bildschirmfo

[2018-11-27 12:33] appinteractive commented on #181
I think you have to re-publish the package on npm after the build. Seems that the issue does not exists when checking out the repo and installing. Will try to remove my node_modules in my project and install again...

[2018-11-27 12:45] appinteractive commented on #181
Update: If you have that issue, remove the whole node_modules and your yarn.lock or package-lock.json and run the install again. After that you should be save.

My advice would still be a bump in version so that would not be neccessary anymore.

[2018-11-27 13:39] manniL commented on #181
![image](https://user-images.githubusercontent.com/640208/49085347-bc456900-f249-11e8-9794-338abb97a092.png)

It's the vue-cli plugin that is affected, not that lib.

However, I've updated the deps on the branch 👍

[2018-11-27 13:39] #181 closed

[2018-11-29 17:54] bviala opened #183 "Errors in user custom functions in apollo object makes Nuxt crash"
### Version

[v4.0.0-rc.2](https://github.com/apollo-module/releases/tag/v4.0.0-rc.2)

### Reproduction link

[https://github.com/bviala/nuxt-apollo-crash](https://github.com/bviala/nuxt-apollo-crash)

### Steps to reproduce

clone the repo
npm run dev (or build / start)
access localhost:3000
check your terminal to see that the server crashed

Check pages/index.vue to see the code causing the issu

[2018-12-03 20:18] aleks63 opened #185 "Prefetch ApolloQuery component"
Hello!
I wanna prefetch ApolloQuery component
How?

[2018-12-03 20:18] #185 closed

[2018-12-04 00:47] dohomi commented on #185
@aleks63 this is a question to ask inside of `vue-apollo`. This packages is simply wrapping the config part away for Nuxt usage

[2018-12-06 21:20] aleks63 opened #187 "How to add persist caching?"
How to add persist caching to config?

[2018-12-06 21:20] #187 closed

[2018-12-09 00:00] altryne commented on #116
I'm getting this error `only absolute urls are supported` in Nuxt with the above approach

[2018-12-09 14:59] bagahunda opened #188 "Error apolloProvider.provide is not a function"
### Version

[v4.0.0-rc.3](https://github.com/apollo-module/releases/tag/v4.0.0-rc.3)

### Reproduction link

[https://github.com/bagahunda/codeguru-adonis-graphql-front](https://github.com/bagahunda/codeguru-adonis-graphql-front)

### Steps to reproduce

just install the @nuxtjs/apollo and run `npm run dev`

### What is expected ?

App runs smoothly

### What is actually happening?

app crashes

[2018-12-10 00:52] dohomi commented on #188
try out https://github.com/nuxt-community/apollo-module/releases/tag/v4.0.0-rc2.3
This version should work as expected

[2018-12-10 16:37] mfdeux commented on #176
@dailycommit Did you find the solution? You can add request-specific context, for example:

[code]

[2018-12-12 11:13] dailycommit commented on #176
hey @mfdeux, yes I found how to do it, thank you 😊👨‍💻

[2018-12-14 21:19] aaronransley commented on #42
@dohomi, you mention a new approach as of version 4, but I'm not sure where to find more information on that approach. Would you mind pointing me towards some docs?

Thanks for all your work on @nuxtjs/apollo!

[2018-12-17 03:50] dohomi commented on #42
@aaronransley whats the exact issue you are facing?

[2018-12-20 00:01] k-okina opened #190 "Apollo components"
Can i use a Apollo components?
https://akryum.github.io/vue-apollo/guide/components/

[2018-12-20 00:01] #190 closed

[2019-01-01 21:51] rnenjoy commented on #179
Can someone give me a hit on what to run ? I dont understand what the latest news is. Should i run RC 2.3 with Vue apollo beta 26? Cause it isnt working

[2019-01-10 14:35] rnenjoy commented on #84
Exactly i have this issue. My components inside layout not in a page is not prefetched

[2019-01-11 17:53] heshamelmasry77 commented on #188
not working @dohomi

[2019-01-12 09:12] dohomi commented on #188
Without a repo I'm not able to help.

[2019-01-16 00:42] robsontenorio commented on #161
@dohomi Would you accept a PR for this? Would be very useful to set `defaultOptions` on `nuxtjs.config.js`

https://www.apollographql.com/docs/react/api/apollo-client.html#apollo-client
[code]

[2019-01-16 12:39] lautr commented on #127
using it like this works with setting the useGETForQueries but leads to a warning:

`  at new LinkError (node_modules\apollo-link\lib\bundle.umd.js:52:32)
  at concat (node_modules\apollo-link\lib\bundle.umd.js:177:26)
  at ApolloLink.concat (node_modules\apollo-link\lib\bundle.umd.js:204:20)
  at node_modules\apollo-link\lib\bundle.umd.js:152:68
  at Array.reduce (<anonymous>)
  at from (node_mod

[2019-01-18 08:21] dohomi commented on #161
@robsontenorio yes go ahead. Currently I'm very busy in job so I might some longer time to review. I also still wait for the Vue 2.6 release which will fix SSR issues of this package and then I hope the integration is smooth for all users

[2019-01-24 13:59] ardian-c opened #192 "Api Key for Apollo Engine"
Hi all,

I am trying to integrate Apollo Engine with Nuxt and I need to add the API key, but I don't know how can I do that. I see that in nuxt.config it is a part for Apollo Engine, however, I don't know where I should specify the Apollo Engine API key.

Thanks

[2019-01-24 13:59] #192 closed

[2019-01-25 01:39] dohomi commented on #84
@timhanlon you might have an issue with the current version of Vue and vue-apollo. I will reopen but I guess we all need to wait for Vue 2.6 where the SSR bug which might be the reason is fixed

[2019-01-25 09:11] rnenjoy commented on #84
Isnt Vue 2.6 released now?

[2019-01-26 21:33] ameistad commented on #138
I have an example repo demonstrating this: [https://github.com/ameistad/nuxt-apollo-link-state](https://github.com/ameistad/nuxt-apollo-link-state)

Also, check out my [blog post](https://www.meidev.co/blog/nuxt-and-state-management-with-apollo-link-state-how-to-ditch-vuex) describing the steps.

I will try to make a PR in the near fututre.

[2019-01-28 01:58] dohomi commented on #84
https://github.com/vuejs/vue/releases

[2019-01-28 21:18] ManUtopiK commented on #192
I don't see what you mind by API key? You have to configure your endpoint in your nuxt.config.js like so:
[code]
This is for development only. Read more here: https://github.com/nuxt-community/apollo-module

[2019-01-28 22:22] ardian-c commented on #192
Yes, I have that working, the issue I have is with [Apollo Engine](https://www.apollographql.com/docs/references/engine-proxy) API key. I don't know where to add that information.

[2019-01-29 10:56] ksanderer commented on #116
Please, add the above config auth example to the `README.md`, have spend an hour digging into this issue :(

![image](https://user-images.githubusercontent.com/1606635/51903517-6a49cc80-23cd-11e9-9926-bf76d6319326.png)

[2019-02-01 14:40] bswank commented on #84
I know this is old, but could you please elaborate on this @kavalcante ?

My Vuex store is not populating until *after* render. I persist Vuex state with vuex-persiststate, but the persisted state is empty in asyncData, fetch, prefetch, etc. Nothing is available until a couple hundred milliseconds after render.

Any thoughts on this?

[2019-02-03 19:38] lrosa007 opened #194 "defaultClientConfig is not a function when using absinthe socket"
### Version

[v4.0.0-rc.2](https://github.com/apollo-module/releases/tag/v4.0.0-rc.2)

### Reproduction link

[https://github.com/lrosa007/apollo-module-example](https://github.com/lrosa007/apollo-module-example)

### Steps to reproduce

1. clone the repo
2. enter the folder
3. yarn dev or npm run dev
4. try to load the root page in a browser

### What is expected ?

default nuxt landing page load

[2019-02-04 00:55] tha80 commented on #192
@ardian-c:

As far as I know you cannot use Apollo Engine from within apollo-client (and all projects that use apollo-client under the hood like vue-apollo or nuxt-apollo).

Apollo Engine is used within apollo-server (so the server side of your GraphQL stack). All metrics gets transmitted by the server to Apollo Engine.

[2019-02-04 16:00] ardian-c commented on #192
@tha80, I see, so in my server (Elixir/Absinthe) I'll need to add something like this [package](https://github.com/sikanhe/apollo-tracing-elixir), to allow tracing. Thanks!

[2019-02-04 18:06] zelid commented on #179
If someone is missing TypeScript definitions for `apollo-module` like `this.$apolloHelpers.onLogin(res.data.login.token)` this blog posts provides it http://tech.innovation.co.jp/2019/01/25/Nuxt-Typescript.html as:

[code]

[2019-02-06 13:55] yaki4 opened #195 "apollo client doesn't update when store update"
I used the store to pass specific header in my application. But, when i update the value my apollo client still use the old value.

I first notice this bug with i18n when i change language but i have this bug with a simple value change in store.
You can check a repo [here](https://gitlab.com/yaki4/grapheader.git) and a test project [there](https://grapheader-nmsrtiwlue.now.sh ) .
If you watch your

[2019-02-06 13:55] #195 closed

[2019-02-06 14:01] yaki4 opened #196 "apollo client doesn't update when store update"
### Version

[v4.0.0-rc.3](https://github.com/apollo-module/releases/tag/v4.0.0-rc.3)

### Reproduction link

[https://grapheader-nmsrtiwlue.now.sh/](https://grapheader-nmsrtiwlue.now.sh/)

### Steps to reproduce

Increment value in store with one of the two buttons.
The first one will refetch the first query and the second one will execute the second query.

### What is expected ?

Apollo client

[2019-02-09 20:27] kevinmarrec commented on #179
Thanks @zelid, we'l

@dohomi What's the current status of the project ? Can we update to last `vue-apollo` ?

[2019-02-11 01:44] dohomi commented on #179
@kevinmarrec can you open a PR? I currently stuffed at work and all the projects doesn't even use graphql..

[2019-02-12 12:26] adamkhan commented on #44
Hi @dohomi I just tried `npm run generate` for the first time on my Nuxt + Apollo / Strapi site. There were no errors noted but also no content was brought in via Apollo. Should this work? An example from a template:
[code]

[2019-02-13 12:36] dohomi opened #198 "client-server hydration error on current master branch"
@kieusonlam @kevinmarrec could you guys try the current master branch? I merged the potential update but now the SSR client/server hydration breaks.
There must be some missing pieces. If you check out this repo and run dev,dev2,dev3 and open the console you will find the hydration error.
@Akryum could you maybe have a look what is missing with the most recent Vue 2.6.6 and vue-apollo as dependenci

[2019-02-13 13:04] kieusonlam commented on #198
@dohomi  I think it should be the vue dependencies problem.

`vue-apollo v3.0.0-beta.28` using `serverPrefetch` which is only existed in `vue 2.6+`

Do you have any public graphql api use to test this? I will give it a try.

Or you try it yourself Install `vue@2.6.6` `vue-template-compiler@2.6.6` `vue-server-renderer@2.6.6` and see how it goes.